<template>
  <transition name="fade">
    <keep-alive>
      <router-view class="#app"></router-view>
    </keep-alive>
  </transition>
</template>
<script>
export default {};
</script>
<style lang="scss">
* {
  padding: 0;
  margin: 0;
  list-style: none;
}
html,
body,
#app {
  width: 100%;
  height: 100%;
}

#nprogress .bar {
  width: 100%;
  height: 5px;
  background: rgb(103, 156, 246) !important;
}
</style>
