<template lang="">
  <Loading v-if="loading"></Loading>
  <div v-else class="add-project">
    <div class="nav-project">
      <div class="nav">
        <span class="tsspan">项目/</span> &nbsp; <span>查看项目</span>
      </div>
    </div>
    <div class="show-project">
      <div class="baseinfo">
        <div class="addProject_title">
          <div class="top_left">
            <div class="icon"></div>
            <div class="top_left_title">查看项目</div>
          </div>
          <div class="top_right">
            <el-button
              style="border: 1px solid rgb(103, 156, 246); width: 110px"
              @click="goBack"
              >返回</el-button
            >
          </div>
        </div>
      </div>
      <div class="con_detail" see="true">
        <div class="addProject_title_top">
          <div class="top_left">
            <div class="icon"></div>
            <div class="top_left_title">基本信息</div>
          </div>
        </div>
      </div>
      <div class="info-detail">
        <div class="base_info">
          <div class="super-form">
            <div class="info-left">
              <div class="header-con">
                <div class="con-left">
                  <span>项目名称</span>
                  <span>{{ detailObj.detailList.name }}</span>
                </div>
                <div class="con-right">
                  <span>版本</span>
                  <span>{{ detailObj.detailList.version }}</span>
                </div>
              </div>
              <div class="center-con">
                <div class="con">
                  {{ detailObj.detailList.description }}
                </div>
              </div>
              <div class="major">
                <div class="m-con"><span>专业</span> <span> / </span></div>
                <div class="trade">
                  <span>行业</span>
                </div>
              </div>
              <div class="type">
                <div class="test-type">
                  <span>实训类型</span>
                  <span>{{
                    detailObj.detailList == "2" ? "教学实训" : "生产实训"
                  }}</span>
                </div>
                <div class="all-time">
                  <span
                    >预期总工时
                    <span>{{ detailObj.detailList.subjectTime }}</span
                    >天</span
                  >
                </div>
              </div>
              <div class="skill">
                <div class="detail_s">
                  <span>技能点</span>
                </div>
                <span>技能点由任务知识点内容生成</span>
              </div>
            </div>
            <div class="info-right">
              <div class="top_img">
                <span>封面</span>
                <img :src="detailObj.detailList.pictureUrl" alt="" />
              </div>
              <div class="show_url">
                <span>演示地址</span>
                <span>{{ detailObj.detailList.showUrl }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="addProject_detail">
        <el-tabs v-model="activeName" @tab-click="handleClick">
          <el-tab-pane label="实训大纲" name="first">
            <div id="pane-first">
              <div class="training-program">
                <div class="left-con">
                  <ul class="nav-list">
                    <li
                      v-for="(item, index) in navList.list"
                      @click="changeIndex(index)"
                      :key="item.id"
                      :class="cIndex.current === index ? 'active' : ''"
                    >
                      {{ item.label }}
                    </li>
                  </ul>
                </div>
                <div class="right-con">
                  <div class="content">暂无数据！</div>
                </div>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="实训任务" name="second">
            <div class="trainning-task">
              <el-table :data="tableData" stripe style="width: 100%">
                <el-table-column prop="date" label="任务名称" width="150">
                </el-table-column>
                <el-table-column prop="name" label="任务成果" width="150">
                </el-table-column>
                <el-table-column prop="address" label="保薪技能" width="150">
                </el-table-column>
                <el-table-column prop="name" label="提薪技能" width="150">
                </el-table-column>
                <el-table-column prop="name" label="考核标椎" width="150">
                </el-table-column>
                <el-table-column prop="name" label="步骤数量" width="130">
                </el-table-column>
                <el-table-column prop="name" label="推荐工期" width="150">
                </el-table-column>
                <el-table-column prop="name" label="操作" width="150">
                </el-table-column>
              </el-table>
              <div class="background-image">
                <img
                  src="http://111.203.59.61:8060/static/img/Lock.0318bb9d.svg"
                  alt=""
                />
                <div class="text-tips">还没有任务信息，快去创建新的任务吧</div>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="项目资源" name="third">
            <div class="project-resources">
              <div>
                <span>资源名称</span>
              </div>
              <div>
                <span>资源类型</span>
              </div>
              <div>
                <span>提交文件</span>
              </div>
              <div>
                <span>描述</span>
              </div>
              <div>
                <span>教师 </span>
                <i>可见</i>
              </div>
              <div>
                <span>学生</span>
                <i>可下载</i>
              </div>
            </div>
          </el-tab-pane>
          <el-tab-pane label="实训环境" name="fourth">
            <div class="training-develop">
              <span>环境名称</span>
              <span>外部环境</span>
              <span>环境描述</span>
            </div>
          </el-tab-pane>
          <el-tab-pane label="前置任务" name="five">
            <div class="ex-project">
              <div class="text">
                <p>暂无与新项目关联的项目</p>
              </div>
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
  </div>
</template>
<script>
import api from "@/api";
import Loading from "@/components/Loading.vue";
import { useRouter, useRoute } from "vue-router";
import { onMounted, ref, reactive, toRefs } from "vue";
export default {
  components: {
    Loading,
  },
  setup() {
    //nav导航得Tab切换效果
    const changeIndex = (ind) => {
      console.log(ind);
      cIndex.current = ind;
    };
    //导航数组
    let navList = reactive({
      list: [],
    });
    const cIndex = reactive({
      current: 0,
    });
    //详情页面底部的tab切换
    let activeName = "first";
    //tab切换的点击事件
    const handleClick = (tab) => {
      console.log(tab.index);
      const getlist = async () => {
        xiangmu.selectTaskList().then((res) => {
          console.log(res);
        });
      };
      if (tab.index == "1") {
        getlist();
      } else if (tab.index == "2") {
        getResourceTree();
      } else if (tab.index == "3") {
        getExperimentalList();
      } else if (tab.index == "4") {
        getPushProjectByprojectVersionId();
      }
    };
    let detailObj = reactive({
      detailList: [],
    });
    let router = useRouter();
    let route = useRoute();
    const { xiangmu } = api;
    const goBack = () => {
      router.go(-1);
    };
    const verId = ref("");
    const showVal = () => {
      console.log(route.query.versionId);
      verId.value = route.query.versionId;
    };
    const getResourceTree = () => {
      xiangmu.selectResourceTree({}).then((res) => {
        console.log(res, "res");
      });
    };

    const getExperimentalList = () => {
      xiangmu.selectExperimentalList({}).then((res) => {
        console.log(res, "Res");
      });
    };
    const getPushProjectByprojectVersionId = () => {
      xiangmu
        .selectPushProjectByprojectVersionId({
          projectVersionId: route.query.versionId,
        })
        .then((res) => {
          console.log(res, "ress");
        });
    };
    const getList = () => {
      xiangmu
        .selectProjectByVersionId({
          versionId: verId.value,
        })
        .then((res) => {
          console.log(res);
          if (res.code === 200) {
            state.loading = false;
            detailObj.detailList = res.data;
            console.log(detailObj.detailList);
          }
        });
    };
    const getTree = () => {
      xiangmu.selectBriefTree({}).then((res) => {
        console.log(res);
        if (res.code === 200) {
          state.loading = false;
          (navList.list = res.data), console.log(navList.list, "list");
        }
      });
    };
    const gettree = () => {
      getTree();
    };
    const getLiSt = () => {
      getList();
    };
    const getId = () => {
      showVal();
    };
    onMounted(() => {
      getId();
      gettree();
      getLiSt();
    });
    let state = reactive({
      loading: true,
    });
    return {
      ...toRefs(state),
      getTree,
      handleClick,
      activeName,
      router,
      goBack,
      showVal,
      verId,
      getList,
      detailObj,
      navList,
      changeIndex,
      cIndex,
    };
  },
};
</script>
<style lang="scss" scoped>
@import "./addproject.scss";
</style>
