.projects {
  width: 100%;
  height: 100%;

  .nav-project {
    width: 100%;
    height: 73.6px;
    box-sizing: border-box;
    background: rgb(230, 235, 247);

    .nav {
      width: 1200px;
      height: 73.6px;
      margin: 0 auto;
      line-height: 73.6px;

      .tsspan {
        color: #80879b;
        font-size: 14px;
      }

      span {
        font-size: 14px;
      }
    }
  }

  .show-project {
    width: 1200px;
    margin: 0 auto 20px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    .baseinfo {
      width: 100%;
      background: #fff;
      border-radius: 2px;
      margin-bottom: 20px;

      .addProject_title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        height: 70px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .top_left {
          display: flex;

          .icon {
            width: 3px;
            height: 18px;
            background: #679cf6;
            display: block;
            margin-right: 10px;
            line-height: 18px;
          }

          .top_left_title {
            display: block;
            font-size: 18px;
            font-weight: 550;
            color: #303849;
            line-height: 18px;
          }
        }
      }

      .top_right {
        color: #80879b;
        font-size: 16px;
      }
    }

    .con_detail {
      width: 100%;
      background: #fff;
      border-radius: 2px;

      .addProject_title_top {
        border-bottom: 1px solid rgba(178, 183, 198, 0.6);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        height: 70px;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        .top_left {
          display: flex;

          .icon {
            width: 3px;
            height: 18px;
            background: #679cf6;
            display: block;
            margin-right: 10px;
            line-height: 18px;
          }

          .top_left_title {
            display: block;
            font-size: 18px;
            font-weight: 550;
            color: #303849;
            line-height: 18px;
          }
        }

        .top-right {
          display: flex;

          >span {
            font-size: 14px;
            font-weight: 400;
            color: #679cf6;
            display: block;
            margin-left: 3px;
            cursor: pointer;
          }
        }
      }
    }

    .baseinfo_detail {
      width: 1180px;
      height: 365.6px;
      padding: 40px 33px;
      box-sizing: border-box;
      background-color: #fff;

      .base_info {
        width: 100%;
        height: 100%;

        :deep(.form) {
          width: 100%;
          height: 100%;
          display: flex;

          .form-right {
            .upload-img {
              width: 362px;
              height: 154px;
              margin-bottom: 22px;
              display: flex;

              >span {
                display: inline-block;
                width: 100px;
                height: 36px;
                padding-left: 25px;
                box-sizing: border-box;
                font-weight: 900;
              }

              .img {
                flex: 1;
                cursor: pointer;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                width: 262px;
                height: 154px;
                background: #ffffff;
                border-radius: 2px;
                border: 1px solid #b2b7c6;

                span {
                  font-size: 12px;
                  font-family: SourceHanSansCN-Regular, SourceHanSansCN;
                  font-weight: 400;
                  color: #679cf6;
                }
              }
            }
          }
        }

        .form-left {
          width: 750px;
          height: 285.6px;
        }

        .form-right {
          flex: 1;
        }
      }
    }

    .bottom {
      width: 1180px;
      height: 225.8px;
      background-color: #fff;

      :deep(.el-tabs__nav-scroll) {
        width: 100%;
        height: 70.8px;

        .el-tabs__nav {
          width: 100%;
          height: 70.8px;
          margin-left: 30px;
        }

        .el-tabs__item {
          height: 70.8px;
          line-height: 70.8px;
          font-weight: 900;
          font-size: 18px !important;
          color: rgb(128, 135, 155);
        }
      }

      .background-image {
        display: flex;
        flex-direction: column;
        width: 575px;
        height: 110px;
        margin: 0 auto;
        padding: 25px 0px;

        img {
          width: 80px;
          height: 60px;
          margin: 0 auto;
        }

        .text-tips {
          margin-top: 20px;
          text-align: center;
          font-size: 14px;
          font-family: SourceHanSansCN-Regular, SourceHanSansCN;
          color: #a5a6a7;
        }
      }
    }
  }

  .row-1 {
    display: flex;

    /deep/ .el-form-item__content {
      display: flex;
    }
  }

  .row-2 {
    display: flex;
    width: 750px !important;
    height: 58px;

    /deep/ .el-form-item__content {
      margin-left: 0px !important;
    }
  }
  .row-3 {
    display: flex;
  }
  .skills {
    width: 650px;
    height: 36px;
    >span:nth-child(1) {
      font-weight: 900;
      color: #606266;
      margin-left: 40px;
    }

    >span:nth-child(2) {
      color: rgb(178, 183, 198);
      font-size: 14px;
      margin-left: 15px;
    }
  }

  :deep(.el-dialog) {
    width: 800px !important;
    height: 512px;
  
    .pic {
      display: flex;

      :deep(.vue--picture-cropper__wrap) {}

      .showImg {
        width: 380px;
        height: 350px;
        .show_img {
          position: absolute;
          top: 50%;
          transform: translate(25%, -50%);
          width: 262px;
          height: 154px;
          box-shadow: #ddd 0px 0px 4px;
          overflow: hidden;
        }
      }
    }
  }
  /deep/ .el-dialog__body{
    padding:0 !important;
  }
  .dialog-footer .btn {
    position: relative;
    .file {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
    }
  }

}