<template>
  <Loading v-if="loading"></Loading>
  <div v-else class="project">
    <div class="project-nav">
      <div class="nav">
        <span class="tsspan">项目/</span> &nbsp; <span>项目管理</span>
      </div>
    </div>
    <div class="more_search">
      <div class="each-type">
        <div class="content">
          <div class="training-type">
            <div class="text">实训类型：</div>
            <div class="type">
              <span
                v-for="(item, index) in list"
                :class="index === cur.current ? 'active' : ''"
                @click="change(index)"
                :key="item.id"
                >{{ item.text }}</span
              >
            </div>
          </div>
          <div class="trade">
            <div class="ttext"><span>行业：</span></div>
            <div class="item-trade">
              <span
                v-for="(item, index) in tradeList"
                :class="index === cIndex.current ? 'active' : ''"
                @click="changes(index, item)"
                :key="item.id"
                >{{ item.label }}</span
              >
            </div>
          </div>
          <div class="major">
            <div class="tttex">
              <span>专业：</span>
            </div>
            <div class="item-major">
              <span
                v-for="(item, index) in marjorList"
                :class="index === mIndex.current ? 'active' : ''"
                :key="index"
                @click="changess(index, item)"
                >{{ item.label }}</span
              >
            </div>
          </div>
          <div class="status">
            <div class="text">
              <span>状态：</span>
            </div>
            <div class="item-status">
              <span
                v-for="(item, index) in statu"
                :class="index === sIndex.current ? 'active' : ''"
                :key="item.id"
                @click="changeInd(index)"
                >{{ item.text }}</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pro_list">
      <div class="pro_operation">
        <el-button
          type="primary"
          style="
            background: rgb(103, 156, 246);
            color: rgb(255, 255, 255);
            margin-right: 20px;
          "
          @click="toAddProject"
          >+添加项目
        </el-button>
        <el-input
          v-model="input"
          style="width: 210px; margin-left: 32px; margin-right: 32px"
          placeholder="搜索项目"
          suffix-icon="el-icon-search"
          @change="searchData(input)"
        ></el-input>
        <el-checkbox v-model="checked" @click="onlyNew(checked)"
          >仅看最新版</el-checkbox
        >
      </div>
      <div class="table">
        <el-table :data="tabledata" style="width: 100%">
          <el-table-column label="项目名称" width="170">
            <template #default="scope">
              <span style="margin-left: 10px">{{ scope.row.proname }}</span>
            </template>
          </el-table-column>
          <el-table-column label="版本" width="100">
            <template #default="scope">
              <span style="margin-left: 10px">{{ scope.row.version }}</span>
            </template>
          </el-table-column>
          <el-table-column label="任务数量" width="100">
            <template #default="scope">
              <span style="margin-left: 10px">{{ scope.row.taskCount }}</span>
            </template>
          </el-table-column>
          <el-table-column label="所属专业" width="100">
            <template #default="scope">
              <span style="margin-left: 10px">{{ scope.row.major }}</span>
            </template>
          </el-table-column>
          <el-table-column label="所属行业" width="100">
            <template #default="scope">
              <span style="margin-left: 10px">{{ scope.row.trade }}</span>
            </template>
          </el-table-column>
          <el-table-column label="实训类型" width="100">
            <template #default="scope">
              <span style="margin-left: 10px">{{
                scope.row.stauts == 2 ? "专业群实训" : "教学实训"
              }}</span>
            </template>
          </el-table-column>
          <el-table-column label="实训类型" width="100">
            <template #default="scope">
              <span style="margin-left: 10px">{{
                scope.row.stauts == 2 ? "专业群实训" : "教学实训"
              }}</span>
            </template>
          </el-table-column>
          <el-table-column label="更新时间" width="100">
            <template #default="scope">
              <span style="margin-left: 10px">{{ scope.row.updateTime }}</span>
            </template>
          </el-table-column>
          <el-table-column label="演示" width="100">
            <template #default="">
              <span style="margin-left: 10px">查看</span>
            </template>
          </el-table-column>
          <el-table-column label="状态" width="100">
            <template #default="">
              <span id="publish" style="margin-left: 10px">已发布</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="80">
            <template #default="scope">
              <el-popover
                class="el-icon-view"
                effect="light"
                trigger="hover"
                placement="bottom"
              >
                <template #default>
                  <p style="text-align: center">查看</p>
                </template>
                <template #reference>
                  <div class="name-wrapper">
                    <el-tag
                      size="medium"
                      @click="handleDetail(scope.$index, scope.row)"
                    >
                      <i class="el-icon-view"></i>
                    </el-tag>
                  </div>
                </template>
              </el-popover>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div>
        <el-pagination
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
          :page-size="10"
          layout="prev, pager, next, jumper"
          :total="total"
        >
        </el-pagination>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, ref, onMounted, toRefs } from "vue";
import { useRouter } from "vue-router";
import Loading from "@/components/Loading.vue";
import api from "@/api";
export default {
  components: {
    Loading,
  },
  setup() {
    const router = useRouter();
    const total = ref("");
    const checked = ref(false);
    const tabledata = ref([]);
    const { xiangmu } = api;
    const searchData = (val) => {
      xiangmu
        .projectLists({
          isAsc: "desc",
          pageNum: 1,
          pageSize: 10,
          sxtype: "",
          status: "",
          specialtyTag: "",
          industryTag: "",
          proName: val,
          newProjectList: 0,
        })
        .then((res) => {
          if (res.code === 200) {
            state.loading = false;
            tabledata.value = res.rows;
          }
        });
    };
    const list = [
      {
        id: 1,
        text: "全部",
      },
      {
        id: 2,
        text: "生产实训",
      },
      {
        id: 3,
        text: "教学实训",
      },
      {
        id: 4,
        text: "专业群实训",
      },
    ];
    const statu = [
      {
        id: 0,
        text: "全部",
      },
      {
        id: 1,
        text: "草稿",
      },
      {
        id: 2,
        text: "已发布",
      },
      {
        id: 3,
        text: "待审核",
      },
      {
        id: 4,
        text: "已驳回",
      },
    ];
    const handleSizeChange = (val) => {
      console.log(`每页 ${val} 条`);
    };
    const handleCurrentChange = (val) => {
      console.log(`当前页: ${val}`);
    };
    const tradeList = ref({
      tradeList: [],
    });
    const marjorList = ref({
      marjorList: [],
    });
    const handleDetail = (index, row) => {
      console.log(index, row);
      router.push(
        `addProject?versionId=${row.versionId}&proId=${row.id}&see=${true}`
      );
    };
    const toAddProject = () => {
      router.push(`addProjects?see=flase`);
    };
    const getInit = () => {
      xiangmu
        .projectLists({
          isAsc: "desc",
          pageNum: 1,
          pageSize: 10,
          sxtype: 0,
          status: 0,
          specialtyTag: "",
          industryTag: "",
          proName: "",
          newProjectList: 0,
        })
        .then((res) => {
          if (res.code === 200) {
            state.loading = false;

            tabledata.value = res.rows;
            total.value = res.total;
          }
        });
    };
    const getList = () => {
      getInit();
    };
    onMounted(() => {
      getList();
    }),
      xiangmu.getMajorStationList({}).then((res) => {
        if (res.code === 200) {
          state.loading = false;

          marjorList.value = res.data;
          marjorList.value.unshift({ label: "全部" });
        }
      });
    xiangmu.getTradeList({}).then((res) => {
      if (res.code === 200) {
        state.loading = false;

        (tradeList.value = res.data),
          tradeList.value.unshift({ label: "全部" });
      }
    });
    const change = (ind) => {
      cur.current = ind;
      if (ind !== 0) {
        xiangmu
          .projectLists({
            isAsc: "desc",
            pageNum: 1,
            pageSize: 10,
            sxtype: ind,
            status: 0,
            specialtyTag: "",
            industryTag: "",
            proName: "",
            newProjectList: 0,
          })
          .then((res) => {
            if (res.code === 200) {
              state.loading = false;

              tabledata.value = res.rows;
            }
          });
      } else {
        getList();
      }
    };
    const changes = (ind, item) => {
      cIndex.current = ind;
      xiangmu
        .projectLists({
          isAsc: "desc",
          pageNum: 1,
          pageSize: 10,
          sxtype: 0,
          status: 0,
          specialtyTag: item.parentId,
          industryTag: "",
          proName: "",
          newProjectList: 0,
        })
        .then((res) => {
          if (res.code === 200) {
            state.loading = false;

            tabledata.value = res.rows;
          }
        });
    };
    const changeInd = (ind) => {
      xiangmu
        .projectLists({
          isAsc: "desc",
          pageNum: 1,
          pageSize: 10,
          sxtype: 0,
          status: ind,
          specialtyTag: "",
          industryTag: "",
          proName: "",
          newProjectList: 0,
        })
        .then((res) => {
          if (res.code === 200) {
            state.loading = false;

            tabledata.value = res.rows;
          }
        });
      sIndex.current = ind;
    };
    const onlyNew = (status) => {
      if (status === true) {
        xiangmu
          .projectLists({
            isAsc: "desc",
            pageNum: 1,
            pageSize: 10,
            sxtype: 0,
            status: 0,
            specialtyTag: "",
            industryTag: "",
            proName: "",
            newProjectList: 0,
          })
          .then((res) => {
            if (res.code === 200) {
              state.loading = false;

              tabledata.value = res.rows;
            }
          });
      } else {
        xiangmu
          .projectLists({
            isAsc: "desc",
            pageNum: 1,
            pageSize: 10,
            sxtype: 0,
            status: 0,
            specialtyTag: "",
            industryTag: "",
            proName: "",
            newProjectList: 1,
          })
          .then((res) => {
            if (res.code === 200) {
              state.loading = false;
              tabledata.value = res.rows;
            }
          });
      }
    };
    const changess = (ind) => {
      xiangmu
        .projectLists({
          isAsc: "desc",
          pageNum: 1,
          pageSize: 10,
          sxtype: 0,
          status: 0,
          specialtyTag: "",
          industryTag: "I0003",
          proName: "",
          newProjectList: 0,
        })
        .then((res) => {
          if (res.code === 200) {
            state.loading = false;
            tabledata.value = res.rows;
          }
        });

      mIndex.current = ind;
    };

    const cur = reactive({
      current: 0,
    });
    const cIndex = reactive({
      current: 0,
    });
    const mIndex = reactive({
      current: 0,
    });
    const sIndex = reactive({
      current: 0,
    });
    const state = reactive({
      loading: true,
    });
    return {
      ...toRefs(state),
      handleSizeChange,
      handleCurrentChange,
      toAddProject,
      total,
      onlyNew,
      input: ref(""),
      cur,
      checked,
      tradeList,
      cIndex,
      marjorList,
      sIndex,
      mIndex,
      searchData,
      change,
      changes,
      changess,
      list,
      tabledata,
      handleDetail,
      statu,
      changeInd,
    };
  },
};
</script>

<style lang="scss" scoped>
@import "./project.scss";
</style>
