.project {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgb(244, 244, 247);
  flex-direction: column;
  .project-nav {
    width: 100%;
    height: 73.6px;
    box-sizing: border-box;
    background: rgb(230, 235, 247);
    .nav {
      width: 1200px;
      height: 73.6px;
      margin: 0 auto;
      line-height: 73.6px;
      .tsspan {
        color: #80879b;
        font-size: 14px;
      }
      span {
        font-size: 14px;
      }
    }
  }
  .more_search {
    .each-type {
      width: 1200px;
      margin: 0 auto;
      background: white;
      border-radius: 2px;
      padding: 20px 30px 26px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      .content {
        margin: 5px 0 5px 0;
        width: 100%;
        height: 100%;
        .training-type {
          display: flex;
          width: 1140px;
          height: 41.4px;
          .text {
            width: 99px;
            height: 100%;
            font-size: 16px;
            font-family: SourceHanSansCN-Medium, SourceHanSansCN;
            font-weight: 500;
            color: #303849;
            display: inline-block;
            padding: 4px 10px;
            -webkit-transition: background 0.5s ease;
            transition: background 0.5s ease;
            margin-bottom: 15px;
            text-align: right;
          }
          .type {
            flex: 1;
            span {
              display: inline-block;
              margin: 0 4px 0 0;
              padding: 4px 18px;
              font-size: 14px;
              color: #666;
              cursor: pointer;
              -webkit-transition: background 0.5s ease;
              transition: background 0.5s ease;
              text-decoration: none;
              font-size: 14px;
              font-family: SourceHanSansCN-Regular, SourceHanSansCN;
              font-weight: 400;
              color: #303849;
              margin-bottom: 15px;
            }
            :hover {
              border-radius: 15px;
              background-color: #679cf6;
              color: #fff;
            }
            .active {
              border-radius: 15px;
              background-color: #679cf6;
              color: #fff;
            }
          }
        }
        .trade {
          width: 1140px;
          height: 156px;
          display: flex;
          .ttext {
            width: 99px;
            height: 156px;
            text-align: center;
            span {
              margin-right: -67px;
            }
          }
          .item-trade {
            max-width: 100%;
            padding-left: 17px;
            padding-right: 20px;
            overflow: hidden;
            width: 950px;
            overflow: hidden;
            span {
              display: inline-block;
              margin: 0 4px 0 0;
              padding: 4px 18px;
              font-size: 14px;
              color: #666;
              cursor: pointer;
              -webkit-transition: background 0.5s ease;
              transition: background 0.5s ease;
              text-decoration: none;
              font-size: 14px;
              font-family: SourceHanSansCN-Regular, SourceHanSansCN;
              font-weight: 400;
              color: #303849;
              margin-bottom: 15px;
            }
            .active {
              background-color: #679cf6;
              color: #fff;
              border-radius: 15px;
            }
            :hover {
              background-color: #679cf6;
              color: #fff;
              border-radius: 15px;
            }
          }
        }
        .major {
          width: 1140px;
          height: 120px;
          display: flex;
          margin-top: 15px;
          .tttex {
            width: 99px;
            height: 120px;
            margin-right: 10px;
            text-align: center;
            span {
              margin-left: 51px;
            }
          }
          .item-major {
            max-width: 100%;
            overflow: hidden;
            width: 950px;
            overflow: hidden;
            span {
              display: inline-block;
              margin: 0 4px 0 0;
              padding: 4px 18px;
              font-size: 14px;
              color: #666;
              cursor: pointer;
              -webkit-transition: background 0.5s ease;
              transition: background 0.5s ease;
              text-decoration: none;
              font-size: 14px;
              font-family: SourceHanSansCN-Regular, SourceHanSansCN;
              font-weight: 400;
              color: #303849;
              margin-bottom: 15px;
            }
            .active {
              background-color: #679cf6;
              color: #fff;
              border-radius: 15px;
            }
            :hover {
              border-radius: 15px;
              background-color: #679cf6;
              color: #fff;
            }
          }
        }
        .status {
          display: flex;
          .text {
            width: 100px;
            height: 39px;
            text-align: center;
            margin-left: 15px;
          }
          .item-status {
            span {
              display: inline-block;
              margin: 0 4px 0 0;
              padding: 4px 9px;
              font-size: 14px;
              color: #666;
              cursor: pointer;
              -webkit-transition: background 0.5s ease;
              transition: background 0.5s ease;
              text-decoration: none;
              font-size: 14px;
              font-family: SourceHanSansCN-Regular, SourceHanSansCN;
              font-weight: 400;
              color: #303849;
              margin-bottom: 15px;
            }
            .active {
              background-color: #679cf6;
              color: #fff;
              border-radius: 15px;
            }
            :hover {
              background-color: #679cf6;
              color: #fff;
              border-radius: 15px;
            }
          }
        }
      }
    }
  }
  .pro_list {
    width: 1180px;
    background: #fff;
    padding: 20px;
    margin-top: 20px;
    margin: 20px auto;
    .pro_operation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
    }
  }
  #publish {
    color: #29cb97;
  }
}