.detailBox{
    width: 100%;
    height: 100%;
}
.detailCon{
    width: 1180px;
    min-height: 300px;
    margin: 0 auto;
    display: flex;
}
.detailCon_left{
    width: 880px;
    min-height: 300px;
}
.detailCon_title{
    width: 100%;
    height: 215px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.detailCon_text{
    width: 100%;
    min-height: 150px;
    margin-top: 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.detailCon_right{
    width: 285px;
    height: 200px;
    background-color: #fff;
    margin-left: 20px;
}
.answerBox{
  width: 280px;
  height: 195px;
  margin-top: 20px;
}
.answerBox_title{
  margin-left: 17px;
}
.answerBox_title i {
  width: 4px;
  height: 15px;
  margin-top: 20px;
  background-color: #679cf6;
  display: inline-block;
}
.answerBox_title b{
  margin-left: 5px;
  font-size: 18px;
}
.answerBox_img{
  width: 100%;
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.answerBox_img img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 17px;
}
.answerBox_img span{
  margin-left: 10px;
  font-size: 14px;
}
.answer_con{
  margin-left: 15px;
  margin-top: 10px;
}
.questionDiv{
  display: flex;
  align-items: center;
}
.questionDiv_title{
  width: 25px;
  height: 25px;
  background-color: #ff8d41;
  color: #fff;
  text-align: center;
  line-height: 25px;
}
.questionDiv_con{
  font-size: 14px;
  margin-left: 5px;
}
.questionDiv_con span{
  color: #e52020;
}
.answerDiv{
  display: flex;
  align-items: center;
}
.answerDiv_title{
width: 25px;
  height: 25px;
  background-color: #3bc9a9;
  color: #fff;
  text-align: center;
  line-height: 25px;
  margin-top: 10px;
}
.answerDiv_con{
  font-size: 14px;
  margin-top: 8px;
  margin-left: 5px;
}
.answer_con span{
  color: #e52020;
}
.detailCon_title_con{
  width: 840px;
  height: 100%;
}
.detailHead{
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.detailInfo{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #80879b;
}
.detailInfo img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.detailInfo span{
  margin-left: 15px;
}
.detailContent{
  font-size: 14px;
}
.detailLabels{
  width: 100%;
  height: 30px;
}
.detailLabels span{
  height: 20px;
  border: 1px solid #1890ff;
  color: #1890ff;
  padding: 0px 10px;
  border-radius: 10px;
  text-align: center;
  line-height: 30px;
  margin-left: 10px;
}
.detailButtom{
  width: 100%;
  height: 47px;
  display: flex;
  font-size: 14px;
  overflow:hidden;
}
.AnswerBtn{
  width: 60px;
  height: 35px;
  background-color: #41a4ff;
  color: #fff;
  margin-top: 6px;
  border-radius: 6px;
}
.hiddenBtnTrue{
  width: 60px;
  height: 35px;
  background-color: #41a4ff;
  color: #fff;
  margin-top: 6px;
  margin-left: 30px;
  border-radius: 6px;
}
.hiddenBtnFalse{
  width: 90px;
  height: 35px;
  border: 1px solid #ccc;
  color: #606266;
  margin-top: 6px;
  margin-left: 30px;
  border-radius: 6px;
  background-color: #fff;
}
.text_title{
  width: 100%;
  height: 54px;
  border-bottom: 1px solid #ccc;
  line-height: 54px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: #fff;
}
.text_content{
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.text_con{
  width: 840px;
  min-height: 90px;
  background-color: #fff;
}
.con_item{
  width: 100%;
  height: 90px;
}
.con_item_title{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}
.con_item_title img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.con_item_title span{
  font-size: 14px;
  color: #ccc;
  margin-left: 10px;
}
.con_item_content{
  width: 100%;
  height: 30px;
  line-height: 30px;
}
.active{
  display: none;
}
.quillBox{
  width: 100%;
  height: 525px;
  margin-top: 25px;
  display: flex;
  justify-content: center;
  background-color: #fff;
}
.quillBox_con{
  width: 840px;
  height: 100%;
}
.quillTitle{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}
.quillTitle img{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.quillTitle span{
  color: #ccc;
  font-size: 14px;
  margin-left: 10px;
}
.quillMain{
  width: 100%;
  height: 310px;
}
.quillButtom{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.publishBtn{
  width: 70px;
  height: 35px;
  background-color: #1890ff;
  color: #fff;
}