.questionDetailBox {
  width:100%;
  height: 100%;
}
.questionBox{
  width: 1200px;
  height: 100%;
  background-color: #f4f4f7;
  position: relative;
  margin: 0 auto;
}
.questionTititle {
  background-color: #e6ebf7;
  width: 100%;
  height: 75px;
  font-size: 14px;
  line-height: 75px;
}
.questionSpan {
  margin-left: 30px;
}
.questionSpan span {
  color: #80879b;
}
.questionHand {
  width: 100%;
  min-height: 400px;
  background-color: #f4f4f7;
  display: flex;
}
.questionHand_left{
  width: 880px;
  min-height: 300px;
}
.questionHand_right{
  width: 280px;
  height: 270px;
  margin-left: 20px;
}
.questionHand_Title {
  width: 100%;
  height: 85px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: end;
}
.questionHand_Title:first {
  font-size: 18px;
  width: 50px;
  height: 20px;
  margin-left: 30px;
}
.questionHand_div {
  width: 427px;
  height: 25px;
  margin-left: 11px;
  display: flex;
  text-align: center;
}
.questionHand_div div {
  width: 100px;
  height: 100%;
  margin-left: 5px;
  font-size: 14px;
  line-height: 25px;
  margin-top: 1px;
}
.questionCon {
  width: 100%;
  min-height: 300px;
  margin-top: 20px;
}
.questionCon_hand {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.questionCon_hand_input {
  width: 230px;
  height: 28px;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 28px;
  text-indent: 8px;
  margin-right: 20px;
}
.questionCon_main{
  width: 100%;
  min-height: 200px;
  background-color: #fff;
}
.questionCon_main_con{
  width: 100%;
  min-height: 180px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.el-pagination{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.questionCon_main_com_item{
  width: 840px;
  height: 140px;
  border-top: 1px solid #ccc;
}
.item_head{
  width: 100%;
  height: 60px;
  line-height: 60px;
  display: flex;
  font-size: 12px;
  color: #ccc;
}
.replyTime{
  margin-left: 10px;
}
.typeNum span {
  color: #679cf6
}
.el-icon-s-comment{
  height: 20px;
  font-size: 20px;
  margin-left: 460px;
  margin-top: 20px;
}
.typeNum{
  margin-left: 25px;
}
.item_main{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item_main_left{
  width: 600px;
  height: 100%;
}
.item_main_left_div{
  display: flex;
}
.item_main_right{
  width: 540px;
  height: 80px;
  display: flex;
  align-items: center;
}
.questionContent{
  font-size: 16px;
}
.questionTitle{
  font-size: 14px;
  color: #ccc;
}
.lookAll{
  margin-left: 177px;
  font-size: 14px;
  color: #679cf6;
}
.answerBtn{
  width: 90px;
  height: 40px;
  background-color: #679cf6;
  color: #fff;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  margin-left: 50px;
}
.questionHand_div .active{
  background-color: #679cf6;
  color: #fff;
  border-radius: 10px;
}
.searchBox{
  position: relative;
}
.el-icon-search{
  position: absolute;
  top: 7px;
  right: 30px;
  font-size: 14px;
  color: #ccc
}
.questionListMessage{
  width: 100%;
  height: 30px;
  color: #ccc;
  text-align: center;
  margin-top: 70px;
}
.questionLabels span{
  border: 1px solid #679cf6;
  border-radius: 10px;
  margin: 0px 5px;
  padding: 2px 5px;
  font-size: 14px;
  color: #679cf6;
}
.questionBtn{
  width: 280px;
  height: 40px;
  background-color: #ff8d41;
  color: #fff;
  border-radius: 5px;
}
.answerBox{
  width: 280px;
  height: 195px;
  background-color: #fff;
  margin-top: 20px;
}
.answerBox_title{
  margin-left: 17px;
}
.answerBox_title i {
  width: 4px;
  height: 15px;
  margin-top: 20px;
  background-color: #679cf6;
  display: inline-block;
}
.answerBox_title b{
  margin-left: 5px;
  font-size: 18px;
}
.answerBox_img{
  width: 100%;
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.answerBox_img img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 17px;
}
.answerBox_img span{
  margin-left: 10px;
  font-size: 14px;
}
.answer_con{
  margin-left: 15px;
  margin-top: 10px;
}
.questionDiv{
  display: flex;
  align-items: center;
}
.questionDiv_title{
  width: 25px;
  height: 25px;
  background-color: #ff8d41;
  color: #fff;
  text-align: center;
  line-height: 25px;
}
.questionDiv_con{
  font-size: 14px;
  margin-left: 5px;
}
.questionDiv_con span{
  color: #e52020;
}
.answerDiv{
  display: flex;
  align-items: center;
}
.answerDiv_title{
width: 25px;
  height: 25px;
  background-color: #3bc9a9;
  color: #fff;
  text-align: center;
  line-height: 25px;
  margin-top: 10px;
}
.answerDiv_con{
  font-size: 14px;
  margin-top: 8px;
  margin-left: 5px;
}
.answer_con span{
  color: #e52020;
}
.elDialogBox{
  width: 100%;
  min-height: 200px;
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 0;
  left: 0;
  z-index: 1000;
}
.elDialogDiv{
  width: 876px;
  min-height: 200px;
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.el-dialog{
  width: 876px;
  height: 100%;
}
.elDialog_header{
  width: 800px;
  height: 40px;
  margin-top: 20px;
  line-height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.elDialog_header span{
  cursor: pointer;
}
.elDialog_main{
  width: 800px;
  min-height: 500px;
  margin-top: 10px;
}
.main_title{
  color: #ccc;
  margin-left: 25px;
}
.elDialog_title{
  width: 100%;
  height: 135px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.inputTitle{
  width: 750px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-indent: 15px;
}
.selectBox{
  width: 100%;
  height: 40px;
  display: flex;
  margin-top: 20px;
}
.el-select{
  margin-left: 25px;
}
.inputCompanyBox{
  display: flex;
}
.inputCompanyBox .el-input{
  margin-left: 30px;
}
.inputWork{
  width: 210px;
  margin-left: 30px;
}
.inputOther{
  width: 210px;
  margin-left: 30px;
}
.quillBox{
  margin-top: 10px;
  min-height: 200px;
}
.editorBox{
  width: 750px;
  height: 300px;
  background-color: red;
}
.quillBox_title{
  color: #ccc;
}

.quillTitle{
  margin-top: 15px;
}
.quillBox .quillTitle_p{
  margin-left: 0;
}
.quillBox .w-full{
  width: 780px;
  margin-left: 20px;
  height: 390px;
}
.quillInput{
  width: 735px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  text-indent: 10px;
}
.quillButtom{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.publishBtn{
  width: 70px;
  height: 35px;
  background-color: #1890ff;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  /* margin-right: 25px; */
}