.questionHandleBox{
    width: 100%;
    min-height: 300px;
    background-color: #f4f4f7;
    position: relative;
}
.questionHandleDiv{
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
}
.questionHnadleCon{
    width: 1200px;
    min-height: 200px;
    display: flex;
}
.questionHandle_left{
    width: 880px;
    height: 100%;
    background-color: #f4f4f7;
}
.questionHandle_right{
    width: 280px;
    height: 200px;
    margin-left: 40px;
}
.answerBox{
  width: 280px;
  height: 200px;
  background-color: #fff;
}
.answerBox_title{
  margin-left: 17px;
}
.answerBox_title i {
  width: 4px;
  height: 15px;
  margin-top: 20px;
  background-color: #679cf6;
  display: inline-block;
}
.answerBox_title b{
  margin-left: 5px;
  font-size: 18px;
}
.answerBox_img{
  width: 100%;
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.answerBox_img img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 17px;
}
.answerBox_img span{
  margin-left: 10px;
  font-size: 14px;
}
.answer_con{
  margin-left: 15px;
  margin-top: 10px;
}
.questionDiv{
  display: flex;
  align-items: center;
}
.questionDiv_title{
  width: 25px;
  height: 25px;
  background-color: #ff8d41;
  color: #fff;
  text-align: center;
  line-height: 25px;
}
.questionDiv_con{
  font-size: 14px;
  margin-left: 5px;
}
.questionDiv_con span{
  color: #e52020;
}
.answerDiv{
  display: flex;
  align-items: center;
}
.answerDiv_title{
width: 25px;
  height: 25px;
  background-color: #3bc9a9;
  color: #fff;
  text-align: center;
  line-height: 25px;
  margin-top: 10px;
}
.answerDiv_con{
  font-size: 14px;
  margin-top: 8px;
  margin-left: 5px;
}
.answer_con span{
  color: #e52020;
}
.tabTitle{
  width: 100%;
  height: 60px;
  background-color: #fff;
}
.tabSpan{
  width: 180px;
  height: 60px;
  margin-left: 30px;
  display: flex;
  justify-content: space-around;
}
.tabSpan div{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  position: relative;
}
.tabSpan i{
  width: 34px;
  height: 4px;
  position: absolute;
  top: 57px;
}
.tabSpan span{
  cursor: pointer;
}
.tabActive{
  background-color: #1890ff;
}
.searchBox{
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
}
.searchInp{
  width: 200px;
  height: 30px;
  border: 1px solid #ccc;
  margin-right: 20px;
  text-indent: 10px;
  font-size: 14px;
}
.el-icon-search{
  position: absolute;
  top: 32px;
  right: 30px;
  color: #ccc;
  font-size: 14px;
}
.left_con{
  width: 100%;
  min-height: 300px;
  background-color: #fff;
}
.questionCon_main_com_item{
  width: 840px;
  height: 140px;
  border-top: 1px solid #ccc;
}
.item_head{
  width: 100%;
  height: 60px;
  line-height: 60px;
  display: flex;
  font-size: 12px;
  color: #ccc;
}
.replyTime{
  margin-left: 10px;
}
.typeNum span {
  color: #679cf6
}
.el-icon-s-comment{
  height: 20px;
  font-size: 20px;
  margin-left: 460px;
  margin-top: 20px;
}
.typeNum{
  margin-left: 25px;
}
.item_main{
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item_main_left{
  width: 600px;
  height: 100%;
}
.item_main_left_div{
  display: flex;
}
.item_main_right{
  width: 540px;
  height: 80px;
  display: flex;
  align-items: center;
}
.questionContent{
  font-size: 16px;
}
.questionTitle{
  font-size: 14px;
  color: #ccc;
}
.lookAll{
  margin-left: 177px;
  font-size: 14px;
  color: #679cf6;
}
.operationBox{
  width: 80px;
  height: 40px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  margin-left: 50px;
  color: #1890ff;
}
.quillBox{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}
.quillCon{
  width: 900px;
  height: 516px;
  background-color: #fff;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
}
.quillCon p{
  margin-top: 20px;
  margin-left: 20px;
}
.quill{
  width: 860px;
  height: 340px;
  margin-top: 20px;
  margin-left: 20px;
}
.quilButtom{
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.cancelBtn{
    width: 70px;
    height: 35px;
    border: 1px solid #ccc;
    color: #ccc;
    margin-right: 10px;
}