.detalPro {
  width: 100%;

  .first {
    width: 100%;
    display: flex;

    &:nth-child(1) ul {
      width: 260px;
      margin-right: 30px;
      background-color: rgb(240, 241, 244);
      line-height: 56px;

      li {
        height: 56px;
        padding-left: 20px;
        background-color: rgb(240, 241, 244);
      }

      li:hover {
        background: rgb(192, 193, 195);
      }

      .active {
        color: #1890ff;
      }
    }
  }

  .mainn {
    width: 1200px;
    background: #eee;
    margin: auto;
    display: flex;
    .main_left {
      width: 880px;
      display: flex;
      flex-direction: column;
      margin-right: 10px;
      .main_left_top {
        width: 100%;
        height: 100px;
        line-height: 100px;
        background: #fff;
        margin-bottom: 10px;
        p {
          text-indent: 30px;
          span {
            font-size: 16px;
            color: #80879b;
          }
        }
      }
      .main_left_middle {
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;

        .cont {
          width: 100%;
          height: 20px;
        }
      }
      .main_left_foot {
        width: 100%;
        background-color: #fff;
        padding: 10px;
        .comment {
          width: 880px;
          height: 130px;
          display: flex;
          .headPortrait {
            width: 50px;
            height: 50px;
            line-height: 50px;
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              margin-left: 30px;
            }
          }
          .comment_inp {
            width: 750px;
            height: 130px;
            margin-left: 50px;
            position: relative;
            border: 1px solid #ccc;
            border-radius: 5px;
            .inp {
              padding-left: 10px;
              border: none;
              outline: none;
              height: 50px;
            }
            .comment_btn {
              position: absolute;
              right: 20px;
              bottom: 20px;
            }
          }
        }
        .comment_list {
          width: 100%;
          > ul > li {
            height: 90px;
            display: flex;
            border-bottom: 1px solid #eee;
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              margin-left: 30px;
              margin-top: 20px;
            }
            div {
              margin-left: 20px;
              margin-top: 10px;
            }
          }
        }
      }
    }

    .main-left {
      height: 100%;
      margin: auto;
      float: left;
      .main-lift-bottom {
        width: 100%;
        height: 47%;
        background: #fff;
        margin-top: 12px;
      }
      .main-left-top {
        width: 100%;
        height: 30%;
        background: #fff;
        line-height: 150px;
        .spp {
          .sp {
            margin-left: 15px;
          }
        }
      }
    }
    .main_right {
      width: 300px;
      height: 100%;
      float: right;
      .main_right_img {
        width: 100%;
        background: #fff;
        height: 200px;
        margin-bottom: 10px;
      }
      .main_right_teacher {
        width: 100%;
        height: 160px;
        background-color: #fff;
        .teacher {
          width: 100%;
          font-size: 18px;
          line-height: 60px;
          border-bottom: 1px solid #ccc;
          span:nth-child(1) {
            color: #679cf6;
          }
          span {
            margin-left: 20px;
          }
        }
        .headPortrait {
          width: 100%;
          height: 100px;
          display: flex;
          align-items: center;
          vertical-align: middle;
          margin-left: 20px;
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
          }
        }
      }
    }
    .el-pagination {
      text-align: right;
    }
  }
}
