<template>
  <div class="container" ref="container"></div>
</template>

<script>
import { ref, onMounted, toRefs, watch } from "vue";
import * as echarts from "echarts";

export default {
  props: {
    options: {
      required: true,
      type: Object,
      default: () => ({}),
    },
  },
  setup(props) {
    const container = ref(null);
    const chart = ref(null);
    const { options } = toRefs(props);

    watch(
      options,
      (newOptions) => {
        chart.value.setOption(newOptions);
      },
      { deep: true }
    );

    onMounted(() => {
      chart.value = echarts.init(container.value);
      chart.value.setOption(props.options);
    });

    return {
      chart,
      container,
    };
  },
};
</script>

<style scoped>
.container {
  width: 100%;
  height: 100%;
}
</style>
