<template>
  <div>
    <div ref="editor" id="editor"></div>
    <slot></slot>
  </div>
</template>

<script>
import { onMounted, onBeforeUnmount, ref, reactive } from "vue";
import WangEditor from "wangeditor";
export default {
  name: "app",
  props: ["value"],
  setup(props, { emit }) {
    const editor = ref(null);
    const content = reactive({
      html: "",
      text: "",
    });
    let instance;
    onMounted(() => {
      instance = new WangEditor(editor.value);
      console.log(instance);
      Object.assign(instance.config, {
        onchange() {
          emit("hendleEditor", instance.txt.text());
        },
      });
      instance.create();
    });
    onBeforeUnmount(() => {
      instance.destroy();
      instance = null;
    });
    return {
      editor,
      content,
    };
  },
};
</script>

<style></style>
