<template>
  <div id="myChart123" :style="{ width: '100%', height: '550px' }"></div>
</template>

<script>
import * as echarts from "echarts";
import { onMounted } from "vue";
import { useStore } from "vuex";
export default {
  name: "Echarts",
  setup() {
    const store = useStore();
    onMounted(async () => {
      // 需要获取到element,所以是onMounted的Hook
      let myChart = echarts.init(document.getElementById("myChart123"));
      // 绘制图表
      myChart.setOption({
        tooltip: {
          trigger: "item",
        },
        legend: {
          orient: "vertical",
          left: "left",
        },
        series: [
          {
            name: "访问来源",
            type: "pie",
            radius: "50%",
            data: store.state.interviewRankList,
            emphasis: {
              itemStyle: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: "rgba(0, 0, 0, 0.5)",
              },
            },
          },
        ],
      });
      window.onresize = function () {
        // 自适应大小
        myChart.resize();
      };
    });
  },
};
</script>

<style></style>
