<template>
  <div class="w-9/12 h-full m0 m-auto">
    <div class="topNav w-full h-56 bg-white">
      <div class="w-11/12 h-4/6 m0 m-auto pt-10 flex">
        <div class="title w-1/12 h-full text-right">
          <span>专业:</span>
        </div>
        <div class="title w-11/12 h-full flex flex-wrap">
          <span
            class="
              navitems
              hover:bg-blue-400
              rounded-2xl
              text-xs
              hover:text-white
            "
            @click="allList"
            :class="currentIndex == -1 ? 'bg-blue-400 text-white' : ''"
          >
            全部
          </span>
          <span
            class="
              navitems
              hover:bg-blue-400
              rounded-2xl
              text-xs
              hover:text-white
            "
            v-for="(item, index) in navTitle"
            :key="index"
            @click="navItem(item, index)"
            :class="currentIndex === index ? 'bg-blue-400 text-white' : ''"
            >{{ item.name }}</span
          >
        </div>
      </div>
      <div class="w-11/12 h-2/6 mt-3 m0 m-auto flex">
        <div class="title w-1/12 h-full text-right">
          <span>{{ title }}</span>
          <span>{{ interviewResult }}</span>
        </div>
        <div class="w-10/12 h-full">
          <span
            class="
              navitems
              hover:bg-blue-400
              rounded-2xl
              text-xs
              hover:text-white
            "
            v-for="(item, index) in interviewResultArr"
            :key="index"
            @click="intervierResultClick(item, index)"
            :class="
              interviewResultIndex === index ? 'bg-blue-400 text-white' : ''
            "
            >{{ item }}</span
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs } from "vue";
export default {
  name: "Professional",
  props: ["navTitle", "title", "interviewResult", "interviewResultArr"],
  setup(props, { emit }) {
    const state = reactive({
      currentIndex: -1,
      itemState: {},
      interviewResultIndex: 0,
    });
    const methods = {
      navItem: (item, index) => {
        //当点击的时候获取item数据并把数据传递给父组件
        state.currentIndex = index;
        state.itemState = {
          item,
          index,
        };
        //传递给父组件
        emit("items", state.itemState);
      },
      allList: () => {
        emit("allList");
        state.currentIndex = -1;
      },
      intervierResultClick: (item, index) => {
        state.interviewResultIndex = index;
        emit("status", index);
      },
    };
    return {
      ...methods,
      ...toRefs(state),
    };
  },
};
</script>

<style lang="scss">
.navitems {
  display: inline-block;
  width: auto;
  height: 1.5rem;
  text-align: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
  transition: all 0.3s;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  line-height: 1.5rem;
}
</style>
