<template>
  <el-table :data="tableData" style="width: 100%" stripe empty-text="暂无数据">
    <template v-for="(item, index) in columns" :key="index">
      <el-table-column v-if="item.slot" v-bind="item">
        <template #default="scope" v-if="item.slot.body">
          <slot :name="item.slot.body" :data="scope.row" />
        </template>
      </el-table-column>
      <el-table-column v-else v-bind="item"> </el-table-column>
    </template>
  </el-table>
</template>

<script>
export default {
  props: ["columns", "tableData"],
  setup() {
    const methods = {};

    return {
      ...methods,
    };
  },
};
</script>

<style lang="scss">
.el-table {
  width: 100%;
  font-size: 14px;
  // padding: 0 20px;

  thead {
    font-size: 14px;
    font-weight: 500;

    tr {
      color: #909399;
    }
  }

  tr td,
  tr th {
    text-align: center;
  }

  span {
    display: flex;
    justify-content: space-around;
  }
}
</style>
