<template>
  <el-table
    :data="tableData"
    style="width: 100%"
    class="text-xs"
    align="left"
    :row-class-name="tableRowClassName"
  >
    <el-table-column
      prop="stationName"
      label="岗位名称"
      width="115"
      align="center"
      @row-click="openDetails"
    >
      <template v-slot="scope">
        <a class="self_peoNum" @click="viewDetails(scope.row)">{{
          scope.row.stationName
        }}</a>
      </template>
    </el-table-column>
    <el-table-column
      prop="companyName"
      label="公司名称"
      width="115"
      align="center"
    >
    </el-table-column>
    <el-table-column
      prop="interviewTime"
      label="面试时间"
      width="185"
      align="center"
    >
    </el-table-column>
    <el-table-column prop="intervierManagement" label="面试官" width="145">
    </el-table-column>
    <el-table-column prop="majorName" label="专业" width="145">
    </el-table-column>
    <el-table-column prop="commitName" label="提交人" width="145">
    </el-table-column>
    <el-table-column prop="status" label="面试结果" width="145">
    </el-table-column>
    <el-table-column prop="issoundrecord" label="录音文件" width="145">
    </el-table-column>
  </el-table>
</template>

<script>
import { useRouter } from "vue-router";
export default {
  name: "TableRender",
  props: ["tableData"],

  setup() {
    const router = useRouter();
    const methods = {
      tableRowClassName: () => {
        return "warning-row";
      },
      viewDetails: (row) => {
        router.push("/teachers/interviewDetail/" + row.interviewId);
        // http://111.203.59.61:8060/dev-api/sypt/interview/info/8074869468612239360
      },
    };
    return {
      ...methods,
    };
  },
};
</script>

<style>
.el-table {
  font-size: 12px;
}
.el-table .warning-row:nth-child(odd) {
  background: rgb(245, 245, 245);
}
</style>
