<template>
  <el-table :data="tableData">
    <template v-for="(item, index) in columns" :key="index">
      <el-table-column v-if="item.slot" v-bind="item">
        <template #header v-if="item.slot.tHead">
          <slot :name="item.slot.tHead" />
        </template>
        <template #default="scope" v-if="item.slot.tBody">
          <slot :name="item.slot.tBody" :data="scope.row" />
        </template>
      </el-table-column>
      <el-table-column v-else v-bind="item"> </el-table-column>
    </template>
  </el-table>
</template>
<script>
import { reactive, toRefs } from "vue";
export default {
  name: "TTable",
  props: ["tableData", "columns"],
  setup() {
    const state = reactive({});
    return {
      ...toRefs(state),
    };
  },
};
</script>

<style></style>
