.detail {
    width: 100%;
    height: 100%;
    background-color: rgb(230, 235, 247);
    .head-nav {
      width: 1200px;
      margin: 0 auto;
      padding: 30px 28px;
      font-size: 14px;
      color: #80879b;
    }
    .Detail {
      width: 100%;
      height: auto;
      background-color: rgb(244, 244, 247);
      .details {
        width: 1220px;
        margin: 0 auto;
        background-color: rgb(244, 244, 247);
        height: auto;
        display: flex;
        justify-content: space-between;
  
        .detail-left {
          width: 890px;
          height: auto;
          .project_detail {
            width: 880px;
            background: white;
            border-radius: 2px;
            margin-left: 10px;
            padding-bottom: 17px;
            height: 74.6px;
            margin-left: 10px;
            padding-bottom: 17px;
            .nums {
              padding-top: 30px;
              font-size: 12px;
              color: #80879b;
              line-height: 18px;
              margin-left: 30px;
              span {
                margin-right: 15px;
              }
            }
          }
          .comment_tab {
            background: #fff;
            width: 880px;
            background: white;
            border-radius: 2px;
            margin-top: 20px;
            margin-bottom: 20px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-left: 10px;
            height: auto;
            .comment_nav {
              width: 100%;
              height: 100%;
            }
          }
          .comment-list {
            background: #fff;
            width: 880px;
            background: white;
            border-radius: 2px;
            margin-top: 20px;
            margin-bottom: 20px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            margin-left: 10px;
            height: auto;
            .comment-con {
              width: 100%;
              height: 100%;
              .comment_area {
                display: -webkit-box;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                flex-direction: row;
                margin-top: 15px;
                padding: 10px 0;
                .person_avator {
                  border-radius: 50%;
                  width: 48px;
                  height: 48px;
                  margin-left: 30px;
                  margin-right: 20px;
                }
                .comment_div {
                  position: relative;
                  width: 700px;
                  height: 130px;
                  border-radius: 4px;
                  border: 1px solid #b2b7c6;
                  padding: 10px;
                  > textarea {
                    width: 695px;
                    height: 80px;
                    outline: none;
                    resize: none;
                    border: 0px;
                    font-size: 15px;
                  }
                  .publish_btn {
                    position: absolute;
                    right: 40px;
                    bottom: 20px;
                    display: inline-block;
                    width: 80px;
                    height: 30px;
                    margin-left: 20px;
                    background: #679cf6;
                    border-radius: 2px;
                    line-height: 30px;
                    text-align: center;
                    font-size: 14px;
                    color: white;
                    cursor: pointer;
                  }
                }
              }
              .item-comment {
                width: 880px;
                height: auto;
                .line {
                  width: 820px;
                  height: 1px;
                  background: rgba(178, 183, 198, 0.15);
                  border-radius: 1px;
                  margin-left: 30px;
                  margin-top: 21px;
                  margin-bottom: 21px;
                }
              }
              .finish_button {
                width: 860px;
                height: 100%;
                text-align: right;
                padding: 30px 0;
              }
              .comment_list {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: horizontal;
                -webkit-box-direction: normal;
                -ms-flex-direction: row;
                flex-direction: row;
                margin-left: 30px;
                margin-right: 30px;
                .person_avator {
                  > img {
                    border-radius: 50%;
                    width: 48px;
                    height: 48px;
                    margin-left: 30px;
                    margin-right: 20px;
                  }
                }
                .comment_detail {
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: vertical;
                  -webkit-box-direction: normal;
                  -ms-flex-direction: column;
                  flex-direction: column;
                  width: 650px;
                  .comment_name {
                    font-size: 14px;
                    color: #80879b;
                  }
                  .comment_text {
                    word-wrap: break-word;
                    white-space: normal;
                    word-break: break-all;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    font-size: 16px;
                    color: #303849;
                  }
                  .comment_time {
                    font-size: 12px;
                    color: #80879b;
                  }
                }
                .comment_right {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-orient: horizontal;
                  -webkit-box-direction: normal;
                  -ms-flex-direction: row;
                  flex-direction: row;
                }
              }
            }
          }
          :deep(.el-tabs__nav-scroll) {
            height: 60px;
            .el-tabs__nav {
              height: 100%;
              margin-left: 30px;
              .el-tabs__item {
                height: 100%;
                line-height: 60px;
                font-size: 18px !important;
                color: #303849 !important;
              }
            }
          }
          :deep(.el-tabs__nav > .el-tabs__active-bar) {
            width: 72px !important;
            height: 4px !important;
            bottom: 0px !important;
            background-color: #1890ff;
          }
          #pane-first {
            flex-direction: column;
            width: 1114px;
            height: auto;
            padding: 15px;
            display: flex;
            .training-program {
              width: 100%;
              height: 100%;
              display: flex;
              .left-con {
                width: 260px;
                height: 168px;
                .nav-list {
                  width: 100%;
                  height: 100%;
                  background-color: rgb(240, 241, 244);
                  li {
                    text-align: left;
                    height: 56px;
                    line-height: 56px;
                    padding-left: 20px;
                  }
                  .active {
                    color: #1890ff;
                  }
                  :hover {
                    background-color: rgb(192, 193, 195);
                  }
                }
              }
              .right-con {
                flex: 1;
                margin-left: 15px;
                .content {
                  height: 64.4px;
                  text-align: center;
                  color: #ccc;
                  padding: 12px 15px;
                }
              }
            }
          }
          :deep(.cell) {
            text-align: left;
          }
          .text {
            display: flex;
            flex-direction: column;
            width: 550px;
            height: 326px;
            margin-left: 150px;
            span {
              display: inline-block;
              height: 36px;
              margin-bottom: 22px;
              font-size: 14px;
              color: #606266;
              font-weight: 900;
            }
          }
          .el-pagination {
            float: right;
          }
        }
        .detail-right {
          .imgs {
            width: 280px;
            height: 164px;
            padding: 10px;
            margin-bottom: 20px;
            background-color: #fff;
            img {
              width: 260px;
              height: 160px;
            }
          }
          .teacher_info {
            margin-top: 20px;
            width: 271px;
            background: #ffffff;
            border-radius: 2px;
            padding: 0 15px 20px;
            .top_info {
              padding: 25px 0;
              border-bottom: 1px solid rgba(178, 183, 198, 0.6);
              > span:nth-child(1) {
                display: inline-block;
                width: 3px;
                height: 18px;
                background: #679cf6;
                margin-right: 10px;
              }
              > span:nth-child(2) {
                font-size: 18px;
                font-weight: 550;
                color: #303849;
              }
            }
            .info {
              margin-top: 20px;
              display: flex;
              .teacher-img {
                width: 48px;
                height: 52px;
                img {
                  width: 48px;
                  height: 48px;
                  border-radius: 50%;
                }
              }
              .teacher-name {
                font-size: 12px;
                font-weight: 400;
                color: #80879b;
                line-height: 18px;
                margin-left: 10px;
                margin-right: 10px;
                line-height: 52px;
              }
            }
          }
        }
      }
    }
  }