.project {
    flex: 1;
    .each-type {
      margin-top: 5px;
      width: 1200px;
      height: 355.4px;
      padding: 20px 30px 11px 30px;
      background-color: #fff;
      border-radius: 2px;
      margin: 0 auto;
      .content {
        margin: 5px 0 5px 0;
        width: 100%;
        height: 100%;
        .training-type {
          display: flex;
          width: 1140px;
          height: 41.4px;
          .text {
            width: 99px;
            height: 100%;
            font-size: 16px;
            font-family: SourceHanSansCN-Medium, SourceHanSansCN;
            font-weight: 500;
            color: #303849;
            display: inline-block;
            padding: 4px 10px;
            -webkit-transition: background 0.5s ease;
            transition: background 0.5s ease;
            margin-bottom: 15px;
            text-align: right;
          }
          .type {
            flex: 1;
            span {
              display: inline-block;
              margin: 0 4px 0 0;
              padding: 4px 18px;
              font-size: 14px;
              color: #666;
              cursor: pointer;
              -webkit-transition: background 0.5s ease;
              transition: background 0.5s ease;
              text-decoration: none;
              font-size: 14px;
              font-family: SourceHanSansCN-Regular, SourceHanSansCN;
              font-weight: 400;
              color: #303849;
              margin-bottom: 15px;
            }
            :hover {
              border-radius: 15px;
              background-color: #679cf6;
              color: #fff;
            }
            .active {
              border-radius: 15px;
              background-color: #679cf6;
              color: #fff;
            }
          }
        }
        .trade {
          width: 1140px;
          height: 156px;
          display: flex;
          .ttext {
            width: 99px;
            height: 156px;
            text-align: center;
            span {
              margin-right: -67px;
            }
          }
          .item-trade {
            max-width: 100%;
            padding-left: 17px;
            padding-right: 20px;
            overflow: hidden;
            width: 950px;
            overflow: hidden;
            span {
              display: inline-block;
              margin: 0 4px 0 0;
              padding: 4px 18px;
              font-size: 14px;
              color: #666;
              cursor: pointer;
              -webkit-transition: background 0.5s ease;
              transition: background 0.5s ease;
              text-decoration: none;
              font-size: 14px;
              font-family: SourceHanSansCN-Regular, SourceHanSansCN;
              font-weight: 400;
              color: #303849;
              margin-bottom: 15px;
            }
            .active {
              background-color: #679cf6;
              color: #fff;
              border-radius: 15px;
            }
            :hover {
              background-color: #679cf6;
              color: #fff;
              border-radius: 15px;
            }
          }
        }
        .major {
          width: 1140px;
          height: 120px;
          display: flex;
          margin-top: 15px;
          .tttex {
            width: 99px;
            height: 120px;
            margin-right: 10px;
            text-align: center;
            span {
              margin-left: 51px;
            }
          }
          .item-major {
            max-width: 100%;
            overflow: hidden;
            width: 950px;
            overflow: hidden;
            span {
              display: inline-block;
              margin: 0 4px 0 0;
              padding: 4px 18px;
              font-size: 14px;
              color: #666;
              cursor: pointer;
              -webkit-transition: background 0.5s ease;
              transition: background 0.5s ease;
              text-decoration: none;
              font-size: 14px;
              font-family: SourceHanSansCN-Regular, SourceHanSansCN;
              font-weight: 400;
              color: #303849;
              margin-bottom: 15px;
            }
            .active {
              background-color: #679cf6;
              color: #fff;
              border-radius: 15px;
            }
            :hover {
              border-radius: 15px;
              background-color: #679cf6;
              color: #fff;
            }
          }
        }
      }
    }
    .kong {
      height: 15px;
      background-color: rgb(245, 246, 247);
    }
    .project-table {
      width: 1200px;
      margin: 0 auto;
      height: auto;
      padding: 20px 31px 0px 33px;
      background-color: #fff;
      .project-top {
        display: flex;
        justify-content: space-between;
        margin-right: 35px;
        .el-radio-group label:nth-child(1) span {
          border-radius: 20px 0 0 20px;
        }
        .search {
          display: flex;
          .searchStyle {
            display: flex;
            width: 200px;
            searchStyle .el-input {
              width: 200px;
              height: 36px;
            }
          }
          .sBtn {
            line-height: 40px;
          }
        }
        .search .searchStyle .el-input .el-input__inner {
          border-radius: 30px;
        }
      }
      .plat {
        width: 1170px;
        height: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  
        .project_detail {
          margin-top: 30px;
          width: 262px;
          border-radius: 5px;
          background: #f7f8fa;
          border-radius: 5px;
          -webkit-transition: all 0.2s ease-out;
          transition: all 0.2s ease-out;
          margin-right: 15px;
          margin-left: 15px;
          position: relative;
          .project_img img {
            width: 262px;
            height: 154px;
            border-radius: 5px 5px 0px 0px;
            cursor: pointer;
          }
          .img_bottom {
            height: 100px;
            bottom: 0;
            background: #f7f8fa;
            -webkit-transition: bottom 0.3s;
            transition: bottom 0.3s;
            position: relative;
            border-radius: 5px 5px 0px 0px;
            .project_title {
              height: 100%;
              top: 0;
              background: #f7f8fa;
              overflow: hidden;
              -webkit-transition: all 0.3s ease-out;
              transition: all 0.3s ease-out;
              cursor: pointer;
              .p_t_title {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 16px;
                font-family: SourceHanSansCN-Regular, SourceHanSansCN;
                font-weight: 400;
                color: #303849;
              }
              .project_dire {
                display: -webkit-box;
                margin-top: 12px;
                color: #666;
                font-size: 13px;
                line-height: 1.4;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
              }
            }
            .project_bottom {
              display: -webkit-box;
              display: -ms-flexbox;
              -ms-flex-align: center;
              display: flex;
              align-items: center;
              position: absolute;
              display: block;
              bottom: 0;
              width: 100%;
              left: 0;
              height: 70px;
              font-size: 12px;
              color: #9b9da2;
              background: #f7f8fa;
              -webkit-box-align: center;
              .botome_detail {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                height: 100%;
                -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                justify-content: space-between;
                .flex_center {
                  display: -webkit-box;
                  display: -ms-flexbox;
                  display: flex;
                  -webkit-box-align: center;
                  -ms-flex-align: center;
                  align-items: center;
                  .shoucang {
                    margin-right: 10px;
                    .aaaa {
                      img {
                        width: 16px;
                        height: 16px;
                        margin-right: 4px;
                        font-size: 12px;
                        font-weight: 400;
                        color: #80879b;
                      }
                    }
                  }
                  .flex_center {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                  }
                }
              }
            }
          }
        }
        .project_detail:hover {
          -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
          -webkit-box-shadow: 0px 0px 10px 0px #555;
          box-shadow: 0px 0px 10px 0px #555;
          border-radius: 4px;
          .project_title {
            -webkit-transform: translateY(-60px);
            transform: translateY(-60px);
          }
        }
        .start_train {
          display: inline-block;
          width: 90px;
          height: 30px;
          border-radius: 20px;
          line-height: 30px;
          text-align: center;
          font-size: 14px;
          font-weight: 400;
          color: #ffffff;
          cursor: pointer;
        }
        .start_train3 {
          background: #ff8d41;
        }
        .right_top_img {
          display: none;
          position: absolute;
          cursor: pointer;
          right: 5px;
          top: 0;
        }
      }
      .pagiNation {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        padding-bottom: 20px;
        width: 100%;
        text-align: center;
        .el-pagination {
        }
      }
    }
  }