<template>
  <div class="login">
    <div class="w-full h-full">
      <div
        class="
          form
          bg-white
          w-600
          h-545
          top-36
          right-40
          absolute
          rounded
          flex
          justify-center
          items-center
        "
      >
        <div class="w-11/12 h-90s">
          <div
            class="
              w-full
              h-8
              flex
              justify-center
              items-center
              title
              font-semibold
              text-xl
            "
          >
            <span>八维生产性实训平台</span>
          </div>
          <div class="w-full h-10 mt-5 flex border">
            <div class="w-1/12 h-full flex justify-center items-center">
              <i class="el-icon-user-solid text-gray-300 text-xl"></i>
            </div>
            <div class="w-11/12 h-full">
              <input
                type="text"
                class="outline-none w-full h-full"
                v-model="username"
              />
            </div>
          </div>
          <div class="w-full h-10 mt-5 flex border">
            <div class="w-1/12 h-full flex justify-center items-center">
              <i class="el-icon-lock text-gray-300 text-xl"></i>
            </div>
            <div class="w-11/12 h-full">
              <input
                type="password"
                class="isbg outline-none w-full h-full"
                v-model="password"
              />
            </div>
          </div>
          <div class="w-full h-10 mt-5 flex">
            <div class="w-1/12 h-full flex justify-center items-center border">
              <i class="el-icon-link text-gray-300 text-xl"></i>
            </div>
            <div class="w-7/12 h-full border">
              <input
                type="text"
                placeholder="请输入验证码"
                class="outline-none w-full h-full text-xs"
                v-model="yzm"
              />
            </div>
            <div class="w-4/12 h-full border ml-10">
              <img
                :src="`data:image/gif;base64,${imgUrl}`"
                @click="getImgUrl"
                alt=""
                style="cursor: pointer"
              />
            </div>
          </div>
          <div class="w-full h-10 mt-5 flex items-center">
            <el-checkbox v-model="checked">记住密码</el-checkbox>
            <el-radio v-model="radio" label="1" class="ml-28">学生</el-radio>
            <el-radio v-model="radio" label="2">老师</el-radio>
          </div>
          <div
            class="
              w-full
              h-10
              flex
              items-center
              justify-center
              rounded
              bg-blue-600
              text-white
              hover:bg-blue-500
              cursor-pointer
              select-none
            "
            @click="isLogin"
          >
            <span>登录</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ElMessage } from "element-plus";
import { reactive, toRefs } from "vue";
import { useRouter } from "vue-router";
import api from "../api/index";
import _ from "lodash";
const { login } = api;
export default {
  name: "login",
  setup() {
    const router = useRouter();
    const state = reactive({
      username: "",
      password: "",
      checked: true,
      radio: "1",
      imgUrl: "",
      yzm: "",
      uuid: "",
      key: "",
    });
    login.getCaptchaImage().then((res) => {
      state.imgUrl = res.img;
    });
    const methods = {
      //方法的集合
      getImgUrl: () => {
        login.getCaptchaImage().then((res) => {
          state.imgUrl = res.img;
          state.uuid = res.uuid;
        });
      },
      isLogin: _.debounce(() => {
        //当点击登录时进行防抖设置.
        state.key = state.radio == "1" ? "student" : "teacher";
        login
          .login({
            username: state.username,
            password: state.password,
            key: state.key,
            code: state.yzm,
            uuid: state.uuid,
          })
          .then((res) => {
            if (res.code === 200) {
              localStorage.setItem("type", state.key);
              localStorage.setItem("token", JSON.stringify(res.token));
              localStorage.setItem("user", JSON.stringify(state.username));
              ElMessage.success({
                message: "登录成功",
                onClose: () => {
                  router.push("/teachers/postm");
                },
              });
            } else {
              ElMessage.error("登录失败");
            }
          });
      }, 500),
    };
    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss">
.login {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/login-background.55b26da3.jpg");
  background-size: cover;

  .title {
    font-family: 黑体;
    color: rgb(112, 112, 112);
  }
}
</style>
