<template>
  <el-container>
    <el-header>
      <img
        style="
          margin-right: 68px;
          margin-left: 26px;
          width: 110px;
          height: 30px;
        "
        src="http://111.203.59.61:8060/static/img/w_bw.172a76e5.png"
        alt=""
      />
      <el-menu
        :default-active="activeIndex2"
        class="el-menu-demo"
        mode="horizontal"
        @select="handleSelect"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#1890ff"
      >
        <el-menu-item index="1">
          <router-link to="/teachers/postm">岗位</router-link>
        </el-menu-item>
        <el-menu-item index="2" v-if="userType == 'teacher'">
          <router-link to="/teachers/project">项目</router-link>
        </el-menu-item>
        <el-menu-item index="2" v-else>
          <router-link to="/teachers/sProject">项目</router-link>
        </el-menu-item>

        <el-submenu index="3" v-if="userType == 'teacher'">
          <template #title>实训</template>
          <el-menu-item index="3-1">
            <router-link to="/teachers/planList">计划</router-link>
          </el-menu-item>
          <el-menu-item index="3-2">
            <router-link to="/teachers/viewPlan">进度</router-link>
          </el-menu-item>
          <el-menu-item index="3-3">
            <router-link to="/teachers/defence">答辩</router-link>
          </el-menu-item>
          <el-menu-item index="3-4">
            <router-link to="/teachers/planListManage"
              >计划（管理）</router-link
            >
          </el-menu-item>
        </el-submenu>
        <el-menu-item index="3" v-else>
          <router-link to="/teachers/training">实训</router-link>
        </el-menu-item>

        <el-submenu index="4">
          <template #title>面试</template>
          <el-menu-item index="4-1">
            <router-link to="/teachers/interviewList">面试记录</router-link>
          </el-menu-item>
          <el-menu-item index="4-2">
            <router-link to="/teachers/interviewManage"
              >面试记录管理</router-link
            >
          </el-menu-item>
          <el-menu-item index="4-3">
            <router-link to="/teachers/rankList">面试排行榜</router-link>
          </el-menu-item>
        </el-submenu>
        <el-submenu index="5">
          <template #title>问答</template>
          <el-menu-item index="5-1">
            <router-link to="/teachers/questionDetail">问答页面</router-link>
          </el-menu-item>
          <el-menu-item index="5-2">
            <router-link to="/teachers/questionHandle">问答管理</router-link>
          </el-menu-item>
        </el-submenu>
        <el-menu-item index="6">
          <router-link to="/teachers/Terminal">终端</router-link>
        </el-menu-item>
      </el-menu>
      <div class="nav-top-right">
        <i class="el-icon-bell" style="font-size: 25px; color: #fff"></i>

        <div class="avatar_detail">
          <el-dropdown :hide-on-click="false">
            <span class="el-dropdown-link">
              <img
                :src="img"
                alt=""
                style="width: 40px; height: 40px; border-radius: 50%"
                @click="visible = true"
                class="el-dropdown-link"
              />
            </span>
            <template #dropdown>
              <el-dropdown-menu>
                <el-dropdown-item icon="el-icon-user" @click="goMycenter"
                  >个人中心</el-dropdown-item
                >
                <el-dropdown-item @click="open" icon="el-icon-switch-button"
                  >退出</el-dropdown-item
                >
              </el-dropdown-menu>
            </template>
          </el-dropdown>
          <div class="teacher_name" v-if="username">
            &emsp;{{ username }} &emsp;
          </div>
          <div class="teacher_name" v-else>用户名</div>
        </div>
      </div>
    </el-header>
    <el-main>
      <router-view />
    </el-main>
    <el-footer>
      <Footer />
    </el-footer>
  </el-container>
</template>

<script>
import { reactive, toRefs } from "vue";
import { useRouter } from "vue-router";
import { ElMessage, ElMessageBox } from "element-plus";
import Footer from "../components/Footer.vue";
export default {
  components: {
    Footer,
  },
  setup() {
    const { confirm } = ElMessageBox;
    const $router = useRouter();
    const state = reactive({
      activeIndex2: "1",
      username: "",
      visible: false,
      userType: "",
      img: "https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg",
    });
    state.username = JSON.parse(localStorage.getItem("user")) || "";
    state.userType = localStorage.getItem("type");
    state.userType == "teacher"
      ? (state.img =
          "https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg")
      : (state.img =
          "https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg");

    const methods = {
      // 退出账号
      open: () => {
        confirm("确定要退出吗？", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        })
          .then(() => {
            ElMessage({
              type: "success",
              message: "账号已退出!",
            });
            localStorage.removeItem("user");
            localStorage.removeItem("token");
            localStorage.removeItem("bw_routers");
            $router.push("/login");
          })
          .catch(() => {
            ElMessage({
              type: "info",
              message: "已取消退出",
            });
          });
      },
      // 跳转个人中心
      goMycenter: () => {
        $router.push("/teachers/mycenter");
      },
    };

    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss">
.el-container {
  width: 100%;
  height: auto;
}

.el-header {
  width: 100%;
  height: 60px;
  background: #545c64;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .el-menu {
    height: 60px;

    .el-menu-item {
      padding: 0;
      a {
        padding: 0 20px;
        width: 100%;
        height: 100%;
      }
    }
  }

  .nav-top-right {
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .avatar_detail {
      display: flex;
    }

    .teacher_name {
      color: #fff;
      display: flex;
      align-items: center;
    }
  }
}

.el-main {
  padding: 0;
  background: rgba(178, 183, 198, 0.15);
}

.el-footer {
  width: 100%;
  padding: 0;
  img {
    width: 100%;
    height: 100%;
  }
}

// 加载
.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;

  img {
    width: 50%;
    height: 65%;
    position: absolute;
    left: 30%;
    top: 30%;
  }
}
</style>
