<template>
  <div>
    <div class="loading" v-if="loading">
      <img src="../../assets/img/loading.gif" alt="" />
    </div>
    <div class="addplan" v-else>
      <!-- 面包屑 -->
      <breadcrumb :data="breadcrumb" />

      <div class="teacher_plan_pages">
        <div class="plan_wrap">
          <div class="plan_wrap_tit_box">
            <div class="plan_wrap_tit_box_line"></div>
            <div class="plan_wrap_tit_box_text">添加计划</div>
          </div>
          <!-- 表单 -->
          <div class="plan_wrap_content">
            <el-form :model="form">
              <el-row class="search-form-item">
                <el-form-item label="班级">
                  <el-select
                    v-model="form.classname"
                    placeholder="请选择班级"
                    @change="selectClass"
                  >
                    <el-option
                      v-for="(item, index) in list"
                      :key="index"
                      :label="item.classname"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-col :span="4">
                  <el-form-item label="成员">
                    <el-input
                      disabled
                      v-model="form.peopleNums"
                      @change="changeMember"
                      placeholder="成员数"
                    ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="2">
                  <el-form-item label="分组">
                    <el-input-number
                      v-model="form.groupcount"
                      controls-position="right"
                      @change="changeGroupCount"
                      :min="1"
                      :max="form.peopleNums"
                    ></el-input-number>
                  </el-form-item>
                </el-col>
              </el-row>
              <!-- 计划 -->
              <el-row class="search-form-item">
                <el-col :span="10">
                  <el-form-item label="计划">
                    <el-input
                      v-model="form.plans"
                      placeholder="请输入计划"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="6">
                  <el-form-item label="时间">
                    <el-date-picker
                      v-model="form.date"
                      type="datetimerange"
                      range-separator="至"
                      start-placeholder="开始日期"
                      end-placeholder="结束日期"
                      @change="changeDate"
                    >
                    </el-date-picker>
                  </el-form-item>
                </el-col>
              </el-row>
              <!-- 分组按钮 -->
              <el-row class="search-form-item">
                <el-form-item>
                  <el-button @click="autoGrouping">自动分组</el-button>
                  <el-button type="primary" @click="showDialogGrouping"
                    >手动分组</el-button
                  >
                </el-form-item>
              </el-row>
            </el-form>
          </div>
        </div>

        <!-- 完成分组 -->
        <div class="plan_bottom" v-show="newClass.length > 0 && flag">
          <div
            class="plan_group"
            v-for="(item, index) in newClass"
            :key="index"
          >
            <div class="plan_group_name">{{ "组" + (index + 1) }}</div>
            <div class="plan_group_config">
              <div class="plan_group_config_text">
                <div>计划项目<span>0</span>个</div>
                <div>任务<span>0</span>个</div>
              </div>
              <div class="plan_group_config_btn_box">
                <el-button>全选</el-button>
                <el-button>清空</el-button>
                <el-button @click="addProject">添加项目</el-button>
              </div>
            </div>
            <div class="plan_group_table">
              <super-table :columns="columns" :tableData="item"> </super-table>
            </div>
          </div>
        </div>

        <!-- 底部按钮 -->
        <div class="save_btn" v-show="newClass.length > 0 && flag">
          <el-button @click="resetClick">重置</el-button>
          <el-button @click="saveClick">保存</el-button>
        </div>
      </div>
      <!-- 对话框 -->
      <el-dialog title="分组" v-model="dialogVisible">
        <div class="group_box">
          <div class="group_left">
            <div class="group_left_top">
              <div>
                <input
                  type="checkbox"
                  :checked="checkAll"
                  @change="handleCheckAllChange"
                />
                <span>全选</span>
              </div>
              <div>
                {{ classList.filter((item) => item.flag).length }}/{{
                  classList.length
                }}
              </div>
            </div>
            <div class="group_left_list">
              <div class="group">
                <div
                  v-for="(item, index) in classList"
                  :key="index"
                  class="group_item"
                >
                  <input
                    type="checkbox"
                    :checked="item.flag"
                    @change="handleCheckedChange(item.id)"
                    class="el-checkbox el-checkbox__input el-checkbox__inner"
                  />
                  <img
                    src="https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg"
                    alt=""
                  />
                  <span class="group_left_item_name">{{ item.username }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="group_right">
            <div class="group_num">当前已分 {{ newClass.length }} 个小组</div>
            <div class="group_add_btn" @click="addClick">+ 创建小组</div>
            <ul class="group_list">
              <li
                class="group_add_item"
                v-for="(item, index) in newClass"
                :key="index"
              >
                <div class="group_add_item_tit">
                  <!-- 添加成员 -->
                  <i
                    class="el-icon-circle-plus-outline"
                    @click="addMembers(index)"
                  ></i>
                  <span>{{ index + 1 + "组" }}</span>
                  <el-button
                    type="danger"
                    icon="el-icon-delete"
                    circle
                    @click="delGroup(index)"
                  ></el-button>
                </div>
                <div class="group_add_item_cont">
                  <div
                    class="group_add_item_cont_item"
                    v-for="(ite, ind) in item"
                    :key="ind"
                  >
                    <img
                      src="https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg"
                      alt=""
                    />
                    <p>{{ ite.username }}</p>
                    <span @click="delMembers(index, ind, ite.id)">x</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <template #footer>
          <span class="dialog-footer">
            <el-button @click="cancelClick">取 消</el-button>
            <el-button type="primary" @click="confirmClick">确 定</el-button>
          </span>
        </template>
      </el-dialog>

      <el-dialog title="添加项目" v-model="dialogvisible">
        <el-form v-model="form2">
          <el-form-item label="项目名称">
            <el-select placeholder="请选择项目" v-model="form2.proname">
              <el-option
                v-for="(item, index) in form2.sel"
                :key="index"
                :label="item.proname"
                :value="item.id"
              ></el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <template #footer>
          <span class="dialog-footer">
            <el-button @click="dialogvisible = false">取 消</el-button>
            <el-button type="primary" @click="confirm">确 定</el-button>
          </span>
        </template>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import { ElMessage } from "element-plus";
import { reactive, toRefs, onMounted } from "vue";
import { useStore } from "vuex";
import api from "../../api";
import SuperTable from "../../components/SuperTable.vue";
export default {
  components: { SuperTable },
  setup() {
    const store = useStore();
    const { training } = api;
    const state = reactive({
      breadcrumb: [
        { path: "/", name: "实训" },
        { path: "/teachers/addPlan", name: "添加计划" },
      ],
      columns: [
        {
          label: "姓名",
          prop: "username",
        },
      ],
      form: {
        classname: "",
        peopleNums: null,
        groupcount: 1,
        plans: "",
        date: "",
      },
      // 班级成员
      list: [],
      // 对话框
      dialogVisible: false,
      cities: [],
      id: null,
      flag: false,
      dialogvisible: false,
      form2: {
        sel: null,
        proname: "",
      },
      loading: true,
    });

    // 班级数据
    const getClassInfo = async () => {
      let res = await training.getClassInfo();
      if (res.code === 200) {
        console.log("班级数据", res);
        state.list = res.data;
        state.loading = false;
      }
    };

    const getClassStudent = async (id) => {
      let res = await training.getClassStudent({ id });
      if (res.code === 200) {
        let arr = res.data;
        arr.forEach((item) => {
          item.flag = false;
        });
        state.cities = res.data;
        store.commit("GET_CLASS_LIST", arr);
      }
    };

    const init = () => {
      getClassInfo();
    };

    const methods = {
      // 班级人数
      selectClass: async (id) => {
        state.id = id;
        let res = await training.getClassStudent({ id });
        if (res.code === 200) {
          console.log("班级人数", res);
          state.form.peopleNums = res.data.length;
        }
      },
      // 分组
      changeGroupCount: (val) => {
        state.form.groupcount = val;
      },
      // // 时间
      // changeDate: (val) => {},
      // 手动分组
      showDialogGrouping: () => {
        let { classname, plans, date } = state.form;
        if (!classname) {
          ElMessage.error("请选择班级");
        } else if (!plans) {
          ElMessage.error("请选择计划");
        } else if (!date) {
          ElMessage.error("请选择时间");
        } else {
          state.dialogVisible = true;
          getClassStudent(state.id);
        }
      },
      // 自动分组
      autoGrouping: () => {
        let { classname, plans, date } = state.form;
        if (!classname) {
          ElMessage.error("请选择班级");
        } else if (!plans) {
          ElMessage.error("请选择计划");
        } else if (!date) {
          ElMessage.error("请选择时间");
        } else {
          state.dialogVisible = true;
          getClassStudent(state.id).then(() => {
            store.commit("AUTO_GROUP", state.form.groupcount);
          });
        }
      },
      // 全选按钮
      handleCheckAllChange: () => {
        store.commit("CHANGE_FLAG_ALL");
      },
      // 单选
      handleCheckedChange: (id) => {
        store.commit("CHANGE_FLAG", id);
      },
      // 添加小组
      addClick: () => {
        store.commit("ADD_CLICK");
      },
      // 添加成员
      addMembers: (i) => {
        store.commit("ADD_MEMBERS", i);
      },
      // 删除成员
      delMembers: (i1, i2, id) => {
        store.commit("DEL_MEMBERS", { i1, i2, id });
      },
      // 删除小组
      delGroup: (i) => {
        store.commit("DEL_GROUP", i);
      },
      // 确定
      confirmClick: () => {
        state.dialogVisible = false;
        state.flag = true;
      },
      // 取消
      cancelClick: () => {
        state.dialogVisible = false;
        store.commit("CANCEL");
      },
      // 重置
      resetClick: () => {
        store.commit("RESET");
      },
      // 保存
      saveClick: () => {
        ElMessage.error("每个小组下面至少添加一个项目！");
      },
      // 添加项目
      addProject: async () => {
        state.dialogvisible = true;
        let res = await training.getProjectList();
        if (res.code === 200) {
          console.log(res);
          state.form2.sel = res.data;
        }
      },
      // 确定
      confirm: () => {
        if (!state.form2.proname) {
          ElMessage.error("请选择项目！");
        } else {
          ElMessage.error("该项目下没有任务,请选择有任务的项目！");
          state.dialogvisible = false;
        }
      },
    };

    onMounted(() => {
      init();
    });

    return {
      ...toRefs(state),
      ...methods,
      ...toRefs(store.state.classList),
    };
  },
};
</script>

<style lang="scss" scoped>
.addplan {
  width: 100%;

  .teacher_plan_pages {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px 0;
    box-sizing: border-box;

    .plan_wrap {
      width: 100%;
      background: #fff;
      position: relative;
      box-sizing: border-box;

      .plan_wrap_tit_box {
        padding: 0 20px;
        width: 100%;
        height: 70px;
        border-bottom: 1px solid rgba(178, 183, 198, 0.15);
        display: flex;
        align-items: center;
        box-sizing: border-box;

        .plan_wrap_tit_box_line {
          width: 3px;
          height: 19px;
          background: #679cf6;
          margin-right: 10px;
        }

        .plan_wrap_tit_box_text {
          font-size: 18px;
          font-weight: 500;
          color: #303849;
        }
      }

      .plan_wrap_content {
        width: 100%;
        padding: 40px 100px;
        box-sizing: border-box;
      }
    }

    // 完成分组
    .plan_bottom {
      .plan_group {
        margin-top: 39px;
        padding: 24px !important;
        box-sizing: border-box;
        width: 100%;
        background: #fff;
        position: relative;
        z-index: 10;

        .plan_group_name {
          height: 16px;
          font-size: 18px;
          font-weight: 500;
          color: #303849;
          line-height: 16px;
          margin-bottom: 20px;
        }

        .plan_group_config {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .plan_group_config_text {
            display: flex;

            div {
              font-size: 14px;
              color: #80879b;
              margin-right: 30px;
            }
          }

          .plan_group_config_btn_box {
            display: flex;
          }

          .plan_group_table {
            margin-top: 24px;
          }
        }
      }
    }

    .save_btn {
      width: 100%;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
    }
  }

  .el-dialog {
    .group_box {
      width: 100%;
      display: flex;

      .group_left {
        width: 25%;
        padding: 20px 10px;
        box-sizing: border-box;
        background: rgba(178, 183, 198, 0.1);

        .group_left_top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
        }

        .group_left_list {
          width: 100%;
          height: 300px;
          overflow-y: auto;

          .group {
            .group_item {
              width: 100%;
              margin-right: 0 !important;
              margin-bottom: 25px;
              display: flex;
              align-items: center;
              img {
                border-radius: 50%;
                width: 30px;
                height: 30px;
                margin-left: 5px;
              }
              .group_left_item_name {
                font-size: 12px;
                color: #80879b;
                margin-left: 10px;
                width: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }
      }

      .group_right {
        flex: 1;
        padding: 0 40px 20px;
        box-sizing: border-box;
        width: 65%;

        .group_num {
          margin-bottom: 5px;
        }

        .group_add_btn {
          width: 100%;
          height: 36px;
          line-height: 36px;
          text-align: center;
          border: 1px solid #b2b7c6;
          cursor: pointer;
        }

        .group_list {
          height: 300px;
          overflow-y: auto;

          .group_add_item {
            width: 100%;
            margin-top: 15px;
            border: 1px solid #b2b7c6;

            .group_add_item_tit {
              display: flex;
              justify-content: space-around;
              align-items: center;
              height: 36px;
              line-height: 36px;
              background: rgba(178, 183, 198, 0.1);
              font-size: 14px;
              color: #80879b;
              text-align: center;
              position: relative;

              i {
                width: 27px;
                height: 27px;
                font-size: 27px;
                vertical-align: middle;
                position: absolute;
                top: 50%;
                left: 10px;
                transform: translateY(-50%);
                cursor: pointer;
              }

              .el-button {
                font-size: 12px;
                min-height: 24px;
                height: 24px !important;
                padding: 5px !important;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
              }
            }

            .group_add_item_cont {
              width: 100%;
              padding-top: 14px;
              padding-left: 12px;
              padding-right: 12px;
              display: flex;
              box-sizing: border-box;
              align-items: center;
              flex-wrap: wrap;

              .group_add_item_cont_item {
                margin-left: 6px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                margin-bottom: 14px;

                img {
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  margin-bottom: 10px;
                }

                p {
                  width: 60px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  text-align: center;
                }

                span {
                  position: absolute;
                  width: 20px;
                  height: 20px;
                  right: -5px;
                  top: -10px;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}
</style>
