<template>
  <div class="detailBox">
    <breadcrumb :data="breadcrumb" />
    <div class="detailCon">
      <div class="detailCon_left">
        <div class="detailCon_title">
          <div class="detailCon_title_con">
            <div class="detailHead">{{ detailList.questionTitle }}</div>
            <div class="detailInfo">
              <img
                :src="`http://111.203.59.61:8060/${detailList.userPictureUrl}`"
                alt=""
              />
              <span>{{ detailList.userName }}</span>
              <span>发布于{{ detailList.pushTime }}</span>
            </div>
            <div class="detailContent">{{ detailList.questionContent }}</div>
            <div class="detailLabels">
              <span v-for="(item, index) in labelsList" :key="index">{{
                item
              }}</span>
            </div>
            <div class="detailButtom">
              <button class="AnswerBtn" @click="AnswerChange">回答</button>
              <button
                :class="isActive ? 'hiddenBtnTrue' : 'hiddenBtnTrue active'"
                @click="hiddenChangeTrue(detailList.answerId)"
              >
                收藏
              </button>
              <button
                :class="isActive ? 'hiddenBtnFalse active' : 'hiddenBtnFalse'"
                @click="hiddenChangeFalse(detailList.answerId)"
              >
                取消收藏
              </button>
            </div>
          </div>
        </div>
        <div class="quillDiv" v-if="isAnswer">
          <div class="quillBox">
            <div class="quillBox_con">
              <div class="quillTitle">
                <img
                  :src="`http://111.203.59.61:8060/${detailList.userPictureUrl}`"
                  alt=""
                />
                <span>{{ detailList.userName }}</span>
              </div>
              <Editor @onQuillValue="onQuillValue">
                <div class="quillButtom">
                  <button class="publishBtn" @click="onPublishBtn">发布</button>
                </div>
              </Editor>
            </div>
          </div>
        </div>
        <div class="detailCon_text">
          <div class="text_title">
            <span>全部回答{{ replyTotal }}</span>
          </div>
          <div class="text_content">
            <div class="text_con">
              <div
                class="con_item"
                v-for="(item, index) in replyList"
                :key="index"
              >
                <div class="con_item_title">
                  <img
                    :src="`http://111.203.59.61:8060/${item.userPictureUrl}`"
                    alt=""
                  />
                  <span>{{ item.userName }}</span>
                  <span>{{ item.replyDate }}</span>
                </div>
                <div class="con_item_content">
                  {{ item.replyContext }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="detailCon_right">
        <div class="answerBox">
          <div class="answerBox_title">
            <i></i>
            <b>我的回答</b>
          </div>
          <div class="answerBox_img">
            <img
              src="https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg"
              alt=""
            />
            <span>黄辉</span>
          </div>
          <div class="answer_con">
            <div class="questionDiv">
              <div class="questionDiv_title">问</div>
              <div class="questionDiv_con">
                提了<span>{{ infoList.numberQuestions }}</span
                >个问题，<span>{{ infoList.numberReplies }} </span>人进行了回答
              </div>
            </div>
            <div class="answerDiv">
              <div class="answerDiv_title">答</div>
              <div class="answerDiv_con">
                回答了<span>{{ infoList.replyCount }}</span
                >个问题
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ElMessage } from "element-plus";
import { reactive, toRefs } from "vue";
import { useRoute } from "vue-router";
import Editor from "@/components/Editor.vue";
import "@/assets/answerDetail.css";
import api from "@/api";
const { answerDetail } = api;
import Axios from "@/utils/httptool.js";
export default {
  components: {
    Editor,
  },
  setup() {
    const state = reactive({
      breadcrumb: [
        { path: "/", name: "问答" },
        { path: "/answerDetail", name: "问答详情" },
      ],
      //个人信息
      infoList: [],
      //问题
      detailList: [],
      //回答
      replyList: [],
      //标签
      labelsList: [],
      //回答数量
      replyTotal: 0,
      isActive: true,
      isAnswer: false,
      questionValue: "",
    });
    let route = useRoute();
    const AnswerId = route.query.answerId;
    //获取对应的问题
    const getDetailTitle = () => {
      Axios.get(
        `http://111.203.59.61:8060/dev-api/sypt/answer/${AnswerId}`
      ).then((res) => {
        state.detailList = res.data;
        state.labelsList = res.data.labels;
      });
    };
    //获取个人信息
    const getReply = () => {
      answerDetail.getReply().then((res) => {
        if (res.code == 200) {
          state.infoList = res.data;
        }
      });
    };
    const obj = {
      answerId: AnswerId,
    };
    //获取回答列表
    const getAnswerList = (obj) => {
      answerDetail.goDetail(obj).then((res) => {
        if (res.code == 200) {
          state.replyList = { ...res.rows };
          state.replyTotal = res.total;
        }
      });
    };
    //收藏
    const hiddenChangeTrue = (answerId) => {
      state.isActive = false;
      const obj1 = {
        answerId,
      };
      answerDetail.hiddenChangeTrue(obj1).then((res) => {
        if (res.code == 200) {
          ElMessage.success("收藏成功");
        }
      });
    };
    //取消收藏
    const hiddenChangeFalse = (answerId) => {
      state.isActive = true;
      const obj2 = { answerId };
      answerDetail.hiddenChangeFalse(obj2).then((res) => {
        if (res.code == 200) {
          ElMessage.success("取消收藏成功");
        }
      });
    };
    //点击回答
    const AnswerChange = () => {
      state.isAnswer = true;
    };
    //监听子组件中的方法，传递参数
    const hendleEditor = (questionValue) => {
      state.questionValue = questionValue;
    };
    //点击发布
    const onPublishBtn = () => {
      state.isAnswer = false;
      const obj3 = {
        answerId: AnswerId,
        questionValue: state.questionValue,
      };
      console.log(obj3);
      //调用接口
      answerDetail.setReply(obj3).then((res) => {
        //返回成功的话
        if (res.code == 200) {
          //调用页面初始化方法
          init();
        }
      });
    };
    //初始化
    const init = () => {
      getReply();
      getDetailTitle();
      getAnswerList(obj);
    };
    init();
    return {
      ...toRefs(state),
      hiddenChangeTrue,
      hiddenChangeFalse,
      AnswerChange,
      hendleEditor,
      onPublishBtn,
    };
  },
};
</script>

<style></style>
