<template>
  <div class="w-full h-full">
    <breadcrumb :data="breadcrumb" />
    <div class="content">
      <Professional
        :navTitle="navTitle"
        @items="items"
        @allList="allList"
        :interviewResult="interviewResult"
        :interviewResultArr="interviewResultArr"
      ></Professional>
      <div class="tableRender w-9/12 h-full m0 m-auto mt-8">
        <Ttable :data="tableData" :columns="columns">
          <template #optionrow="{ data }">
            <i
              class="el-icon-view text-blue-500 cursor-pointer mr-5"
              @click="toViews(data)"
            ></i>
            <i
              class="el-icon-s-data text-blue-500 cursor-pointer"
              @click="divide(data)"
            ></i>
          </template>
        </Ttable>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs } from "vue";
import Ttable from "../../components/Ttable.vue";
import Professional from "../../components/Professional.vue";
import Axios from "../../utils/httptool";
import { useStore } from "vuex";
import { useRouter } from "vue-router";
import api from "../../api/index";
const { plea, interview } = api;
export default {
  components: {
    Ttable,
    Professional,
  },
  setup() {
    const store = useStore();
    const router = useRouter();
    store.dispatch("getNavData");
    const state = reactive({
      columns: [
        {
          label: "名称",
          prop: "degenceName",
        },
        {
          label: "专业",
          prop: "majorName",
        },
        {
          label: "班级计划",
          prop: "className",
        },
        {
          label: "发起人",
          prop: "defenceAuthorName",
        },
        {
          label: "开始/截止时间",
          prop: "defenceCreateTime",
        },
        {
          label: "状态",
          prop: "defenceStatus",
        },
        {
          label: "操作",
          slot: {
            tBody: "optionrow",
          },
        },
      ],
      breadcrumb: [
        { path: "/", name: "实训" },
        { path: "/teachers/defence", name: "答辩" },
      ],
      tableData: [],
      navTitle: [],
      interviewResult: "面试结果:",
      interviewResultArr: ["全部", "通过", "未通过", "不确定"],
    });
    const createNavTitle = function () {
      //获取nav数据
      interview.interview().then((res) => {
        state.navTitle = res.data;
      });
    };
    createNavTitle();
    const getTableDataListAll = function () {
      //获取table全部列表数据
      plea.getPleaTableData().then((res) => {
        state.tableData = res.rows;
      });
    };
    const methods = {
      toViews: (item) => {
        //点击查看答辩
        router.push({
          path: `defenceid/${item.defenceId}`,
        });
      },
      divide: (item) => {
        //查看平分
        router.push({
          path: `divide/${item.defenceId}`,
        });
      },
      items: (items) => {
        let { item } = items;
        Axios.get(
          `http://111.203.59.61:8060/dev-api/sxpt/defence/getDefenceList?pageNum=1&pageSize=10&searchTitle=&defenceMjorId=${item.id}&defenceStatus=`
        ).then((res) => {
          state.tableData = res.rows;
        });
      },
      allList: () => {
        getTableDataListAll();
      },
    };
    getTableDataListAll();
    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss">
.content {
  width: 100%;
  height: 100%;
}
</style>
