<template>
  <div class="w-full h-full">
    <div class="w-full">
      <breadcrumb :data="breadcrumb" />
    </div>
    <div class="xcontent">
      <div class="topTitle flex justify-between items-center">
        <div>
          <span class="text-blue-700 font-black pl-10"> | </span
          ><span>{{ userInfo.degenceName }}</span>
        </div>
        <div class="rightGoBack" @click="goBack()"><span>返回</span></div>
      </div>

      <div class="userInfos">
        <div>
          <div class="leftUserInfo">
            <div><span>答辩名称</span></div>
            <div><span>专业</span></div>
            <div><span>答辩时间</span></div>
            <div><span>班级/计划</span></div>
            <div><span>答辩地址</span></div>
            <div><span>发起人</span></div>
          </div>
          <div class="rightUserInfo">
            <div>
              <span>{{ userInfo.degenceName }}</span>
            </div>
            <div>
              <span>{{ userInfo.majorName }}</span>
            </div>
            <div>
              <span
                >{{ userInfo.defenceCreateTime }} 至
                {{ userInfo.defenceEndTime }}</span
              >
            </div>
            <div>
              <span>{{ userInfo.className }}</span>
            </div>
            <div>
              <span>{{ userInfo.defenceAdress }}</span>
            </div>
            <div>
              <span>{{ userInfo.defenceAuthorName }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="tableUserInfo">
        <Ttable :data="tableData" :columns="columns">
          <template #optionrow>
            <span class="toView">查看</span>
          </template>
        </Ttable>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs } from "vue";
import Axios from "../../utils/httptool";
import { useRouter } from "vue-router";
import Ttable from "../../components/Ttable.vue";
export default {
  name: "Defenceid",
  components: {
    Ttable,
  },
  setup() {
    const router = useRouter();
    const state = reactive({
      columns: [
        {
          label: "评分人",
          prop: "defenceRaterName",
        },
        {
          label: "平分任务数",
          prop: "count",
        },
        {
          label: "最后平分时间",
          prop: "createTime",
        },
        {
          label: "操作",
          slot: {
            tBody: "optionrow",
          },
        },
      ],
      breadcrumb: [
        { path: "/", name: "答辩" },
        { path: "/teachers/defence", name: "平分历史" },
      ],
      userInfo: {},
      tableData: [],
    });
    const getUserInfo = function () {
      Axios.get(
        `http://111.203.59.61:8060/dev-api/sxpt/defence/getDefenceDetial?defenceId=${router.currentRoute.value.params.id}`
      ).then((res) => {
        state.userInfo = res.data;
      });
      Axios.get(
        `http://111.203.59.61:8060/dev-api/sxpt/defenceHistory/getDefenceHistory?pageNum=1&pageSize=10&defenceId=${router.currentRoute.value.params.id}&searchTitle=`
      ).then((res) => {
        state.tableData = res.rows;
      });
    };
    const methods = {
      goBack: () => {
        router.go(-1);
      },
    };
    getUserInfo();
    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss">
.xcontent {
  width: 70%;
  margin: 0 auto;
  .topTitle {
    width: 100%;
    height: 4.375rem;
    line-height: 4.375rem;
    font-weight: 600;
    font-size: 1.25rem;
    border-bottom: 1px solid #ccc;
  }
  .userInfos {
    width: 100%;
    background: #fff;
    > div {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      display: flex;
    }
  }
  .leftUserInfo {
    width: 14%;
    height: 100%;
    font-size: 1rem;
    color: rgb(85, 85, 85);
    font-weight: 600;
    > div {
      width: 100%;
      height: 4.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .rightUserInfo {
    width: 86%;
    height: 100%;
    > div {
      width: 100%;
      height: 4.25rem;
      display: flex;
      align-items: center;
    }
  }
}
.rightGoBack {
  width: 6.125rem;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.25rem;
  border: 1px solid rgb(31, 71, 248);
  font-weight: 0;
  cursor: pointer;
}
.rightGoBack:hover {
  background: hotpink;
  color: #fff;
  border: 0;
}
.tableUserInfo {
  width: 100%;
  height: 100px;
  margin-top: 1.25rem;
  background: #fff;
}
.toView {
  color: rgb(28, 114, 241);
  cursor: pointer;
}
</style>
