<template>
  <div class="addIr">
    <div class="content">
      <div class="mianbaoxie">
        <breadcrumb :data="breadcrumb" />
      </div>
      <div class="forms shadow-lg">
        <div class="topTitle">
          <span class="text-blue-700 font-black pl-10"> | </span
          ><span>添加面试记录</span>
        </div>
        <div class="inputs">
          <div class="top">
            <div class="mt-3">
              <div class="justify-center items-center">
                <span class="inline-block mr-2 font-semibold text-gray-500"
                  >岗位名称:</span
                >
                <div class="borderdiv">
                  <input type="text" v-model="stationName" />
                </div>
              </div>
              <div class="justify-self-end items-center">
                <span class="inline-block mr-2 font-semibold text-gray-500"
                  >公司名称:</span
                >
                <div class="borderdiv">
                  <input type="text" v-model="companyName" />
                </div>
              </div>
            </div>
            <div class="mt-1">
              <div class="justify-center items-center">
                <span class="inline-block mr-2 font-semibold text-gray-500"
                  >面试时间:</span
                >
                <div>
                  <el-date-picker
                    v-model="interviewTime"
                    type="date"
                    placeholder="选择日期"
                  >
                  </el-date-picker>
                </div>
              </div>
              <div class="justify-self-end items-center">
                <span class="inline-block w-16 mr-2 font-semibold text-gray-500"
                  >时长:</span
                >
                <div>
                  <el-select v-model="duration" placeholder="请选择">
                    <el-option
                      v-for="item in options"
                      :key="item.value"
                      :label="item.label"
                      :value="item.value"
                    >
                    </el-option>
                  </el-select>
                </div>
              </div>
            </div>
            <div class="mt-1">
              <div class="justify-center items-center">
                <span class="inline-block mr-2 font-semibold text-gray-500"
                  >地点:
                </span>
                <div class="borderdiv">
                  <input type="text" v-model="site" />
                </div>
              </div>
              <div class="justify-self-end items-center">
                <span class="inline-block mr-2 font-semibold text-gray-500"
                  >面试官:</span
                >
                <div class="borderdiv">
                  <input type="text" v-model="intervierManagement" />
                </div>
              </div>
            </div>
            <div class="mt-1">
              <div class="justify-center items-center">
                <span class="inline-block mr-2 font-semibold text-gray-500"
                  >专业:
                </span>
                <div class="borderdivs">
                  <span>{{ majorName }}</span>
                </div>
              </div>
              <div class="justify-self-end items-center">
                <span class="inline-block mr-2 font-semibold text-gray-500"
                  >提交人:</span
                >
                <div class="borderdivs">
                  <span>{{ nickName }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="center flex justify-center mt-4">
            <span class="inline-block mr-2 font-semibold text-gray-500"
              >记录吐槽:</span
            >
          </div>
          <div class="bottom p-10 ml-5">
            <div class="flex">
              <span class="inline-block mr-2 font-semibold text-gray-500"
                >面试结果:
              </span>
              <div class="borderdiv">
                <el-radio v-model="status" label="1">不确定</el-radio>
                <el-radio v-model="status" label="2">通过</el-radio>
                <el-radio v-model="status" label="3">未通过</el-radio>
              </div>
            </div>
          </div>
          <div class="bottom p-2 ml-12">
            <div class="flex">
              <span
                class="inline-block mr-2 font-semibold text-gray-500"
                @click="sta"
                >面试问题:
              </span>
              <span class="text-xs ts">
                请如实填写面试问题和答案，面试中没有作答的题目可略过答案填写，直接输入问题即可。</span
              >
            </div>
            <div
              class="w-full"
              v-for="(item, index) in problemArr"
              :key="index"
            >
              <div>
                <div class="wen w-full h-16 flex items-center mt-2 mb-2">
                  <div class="ssw">
                    <span>问:</span>
                  </div>
                  <div class="ipt">
                    <input type="text" v-model="problemArr[index].question" />
                  </div>
                  <div class="add" @click="addMyQuestion(index)">
                    <span>+</span>
                  </div>
                  <div class="reduce" @click="reduceMyQuestion">
                    <span>-</span>
                  </div>
                </div>
                <el-radio v-model="item.myProblem" :label="true"
                  >我的回答</el-radio
                >
                <el-radio v-model="item.myProblem" :label="false"
                  >我不回答</el-radio
                >
              </div>
              <div v-if="item.myProblem">
                <div class="da w-full h-16 flex items-center mt-2 mb-2">
                  <div class="sse">
                    <span>答:</span>
                  </div>
                  <div class="ipt">
                    <input type="text" v-model="problemArr[index].answer" />
                  </div>
                </div>
              </div>
            </div>
            <div class="w-full h-full flex justify-center">
              <div class="goBack w-16 h-8 flex justify-center items-center">
                <span @click="goBack()">返回</span>
              </div>
              <div
                class="submit w-16 h-8 flex justify-center items-center"
                @click="submit()"
              >
                <span>提交</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs, ref, onMounted } from "vue";
import { useRouter } from "vue-router";
import { useStore } from "vuex";
import api from "../../api/index";
import { ElMessage } from "element-plus";
const { interview } = api;
export default {
  setup() {
    const RefChilde = ref();
    const store = useStore();
    const router = useRouter();
    const state = reactive({
      breadcrumb: [
        { path: "/", name: "面试" },
        { path: "/teachers/interviewRecord", name: "面试记录" },
      ],
      options: [
        {
          value: "选项1",
          label: "半小时",
        },
        {
          value: "选项2",
          label: "一小时",
        },
        {
          value: "选项3",
          label: "一小时以上",
        },
      ],
      bg: {},
      plan: {},
      radio: 3,
      status: "", //面试结果
      myProblem: false,
      problemArr: [
        { question: "", answer: "", meeting: "1", myProblem: false },
      ],
      duration: "", //时长
      intervierManagement: "", //面试官
      interviewTime: "", //时间,
      issoundrecord: "", //录音文件
      record: "", //吐槽
      site: "", //地点
      stationName: "", //岗位名称
      majorName: "", //专业
      nickName: "", //提交人
      companyName: "", //公司名称
      soundrecordList: [],
    });
    const methods = {
      addMyQuestion: (index) => {
        state.problemArr.push({
          question: "",
          answer: "",
          meeting: "1",
          myProblem: false,
        });
        console.log(index);
      },
      reduceMyQuestion: () => {
        if (state.problemArr.length > 1) {
          state.problemArr.pop();
        }
      },
      goBack: () => {
        console.log(RefChilde);
        router.go(-1);
      },
      submit: () => {
        interview
          .addInterview({
            askAndanswerList: state.problemArr,
            commitName: state.nickName,
            companyName: state.companyName,
            duration: state.duration,
            intervierManagement: state.intervierManagement,
            interviewId: "",
            interviewTime: state.interviewTime,
            issoundrecord: state.issoundrecord,
            majorName: state.majorName,
            record: state.record, //吐槽
            site: state.site,
            soundrecordList: state.soundrecordList,
            stationName: state.stationName,
            status: state.status,
          })
          .then((res) => {
            if (res.code === 200) {
              ElMessage.success({
                message: "添加成功",
                onClose: () => {
                  router.push("/teachers/interviewList");
                },
              });
            }
          });
      },
    };
    onMounted(() => {
      state.nickName = store.state.nickName;
      state.majorName = store.state.majorName;
    });
    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss" scoped>
span {
  user-select: none;
}
.addIr {
  width: 100%;
  height: 100%;
  .content {
    width: 100%;
    height: 100%;
    .mianbaoxie {
      width: 100%;
      height: auto;
    }
    .forms {
      width: 70%;

      margin: 0 auto;
      background: #fff;

      .topTitle {
        width: 100%;
        height: 4.375rem;
        line-height: 4.375rem;
        font-weight: 600;
        font-size: 1.25rem;
        border-bottom: 1px solid #ccc;
      }
      .inputs {
        width: 80%;
        height: 100%;
        margin: 0 auto;
        .top {
          width: 100%;
          > div {
            width: 100%;
            height: 3.75rem;
            display: flex;
            > div {
              width: 50%;
              height: 100%;
              display: flex;
              > .borderdiv {
                width: 14rem;
                height: 60%;
                border-radius: 0.125rem;
                border: 1px solid #ccc;
                display: flex;
                align-items: center;
                color: rgb(134, 134, 134);
                font-size: 0.8975rem;
                input {
                  width: 100%;
                  height: 100%;
                  outline: none;
                  font-size: 0.8rem;
                  color: #ccc;
                  padding-left: 0.5rem;
                }
              }
            }
          }
        }
        .center {
          width: 100%;
          > div {
            width: 78%;
          }
        }
      }
    }
  }
}
.ts {
  line-height: 1.5rem;
}
.ssw {
  width: 2rem;
  height: 2rem;
  color: #fff;
  background: hotpink;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.225rem;
}
.ipt {
  width: 24.75rem;
  height: 50%;
  border: 1px solid #ccc;
  margin-left: 0.625rem;
  border-radius: 0.225rem;
  input {
    outline: none;
    width: 100%;
    height: 100%;
    padding-left: 0.3125rem;
    color: hotpink;
  }
}
.add,
.reduce {
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ccc;
  cursor: pointer;
  margin-left: 0.625rem;
  user-select: none;
}
.sse {
  width: 2rem;
  height: 2rem;
  color: #fff;
  background: skyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.225rem;
}
.goBack {
  border: 1px solid #ccc;
  color: skyblue;
  margin: 1.25rem;
  cursor: pointer;
}
.submit {
  background: #fff;
  color: hotpink;
  margin: 1.25rem;
  border: 1px solid hotpink;
  cursor: pointer;
}
.submit:hover {
  background: hotpink;
  color: #fff;
}
.goBack:hover {
  background: skyblue;
  color: #fff;
}
.borderdivs {
  width: 14rem;
  height: 60%;
  border-radius: 0.125rem;
  display: flex;
  align-items: center;
  color: rgb(134, 134, 134);
  font-size: 0.8975rem;
}
</style>
