<template>
  <div id="myCenterBox">
    <div class="conBox">
      <div class="conBox_left">
        <div class="left_title">
          <span>个人信息</span>
        </div>
        <div class="left_con">
          <div class="left_img">
            <div class="imgBox">
              <img
                src="https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg"
                alt=""
              />
            </div>
          </div>
          <ul class="leftUl">
            <li>
              <div>
                <i class="el-icon-user-solid"></i>
                <span>用户名称</span>
              </div>
              <span>{{ profileList.nickName }}</span>
            </li>
            <li>
              <div>
                <i class="el-icon-mobile-phone"></i>
                <span>手机号码</span>
              </div>
              <span>{{ profileList.phonenumber }}</span>
            </li>
            <li>
              <div>
                <i class="el-icon-message"></i>
                <span>用户邮箱</span>
              </div>
              <span>{{ profileList.email }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="conBox_right">
        <div class="right_title">
          <span>基本信息</span>
        </div>
        <div class="right_con">
          <div class="tab_title">
            <div class="spanBox">
              <div
                v-for="(item, index) in tabList"
                :key="index"
                @click="tabChange(index)"
                :class="tabIndex == index ? 'active' : ''"
              >
                <span>{{ item }}</span>
              </div>
            </div>
          </div>
          <div class="fromTable" v-if="tabIndex == 0">
            <div class="table_left">
              <span v-for="(item, index) in tableList" :key="index">{{
                item
              }}</span>
            </div>
            <div class="table_right">
              <el-input v-model="nameInput"></el-input>
              <el-input v-model="phoneInput"></el-input>
              <el-input v-model="emailInput"></el-input>
              <div class="radioBox">
                <el-radio v-model="radio" label="0">男</el-radio>
                <el-radio v-model="radio" label="1">女</el-radio>
              </div>
              <div class="btnBox">
                <button class="saveBtn" @click="tableSaveBtn">保存</button>
                <button class="closeBtn" @click="tableCloseBtn">关闭</button>
              </div>
            </div>
          </div>
          <div class="fromBox" v-if="tabIndex == 1">
            <div class="fromLeft">
              <span v-for="(item, index) in fromList" :key="index"
                >{{ item }}
              </span>
            </div>
            <div class="fromRight">
              <el-input
                placeholder="请输入旧密码"
                v-model="oldPassword"
                show-password
              ></el-input>
              <el-input
                placeholder="请输入新密码"
                v-model="newPassword"
                show-password
              ></el-input>
              <el-input
                placeholder="请确认密码"
                v-model="affirmPassword"
                show-password
              ></el-input>
              <div class="btnBox">
                <button class="saveBtn" @click="fromSaveBtn">保存</button>
                <button class="closeBtn" @click="fromCloseBtn">关闭</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/MyCenter.css";
import api from "@/api";
const { mycenter } = api;
import { reactive, toRefs } from "vue";
import { ElMessage } from "element-plus";
import { useRouter } from "vue-router";
export default {
  setup() {
    const router = useRouter();
    const state = reactive({
      profileList: {},
      tabIndex: 0,
      nameInput: "",
      phoneInput: "",
      emailInput: "",
      radio: "",
      oldPassword: "",
      newPassword: "",
      affirmPassword: "",
      tabList: ["基本资料", "修改密码"],
      tableList: ["用户昵称", "手机号码", "邮箱", "性别"],
      fromList: ["旧密码", "新密码", "确认密码"],
    });
    //获取个人信息
    const getProfile = () => {
      mycenter.profile().then((res) => {
        state.profileList = res.data;
        state.nameInput = res.data.nickName;
        state.phoneInput = res.data.phonenumber;
        state.emailInput = res.data.email;
        state.radio = res.data.sex;
        console.log(res);
      });
    };
    //tab高亮
    const tabChange = (index) => {
      state.tabIndex = index;
    };
    //修改信息保存
    const tableSaveBtn = () => {
      const obj = {
        ...state.profileList,
        nickName: state.nameInput,
        phonenumber: state.phoneInput,
        email: state.emailInput,
        sex: state.radio,
      };
      console.log(state.profileList);
      console.log(JSON.stringify(obj));
      // mycenter.putProfile(obj).then((res) => {
      //   console.log(res);
      // });
    };
    //修改信息关闭
    const tableCloseBtn = () => {
      router.back(-1);
    };
    //修改密码保存
    const obj1 = {
      oldPassword: state.oldPassword,
      newPassword: state.newPassword,
    };
    const fromSaveBtn = () => {
      if (state.oldPassword == state.newPassword) {
        ElMessage.error("新密码不能与旧密码相同");
      } else {
        mycenter.upDatePassword(obj1).then((res) => {
          console.log(res);
        });
      }
    };
    //修改密码关闭
    const fromCloseBtn = () => {
      router.back(-1);
    };
    //初始化
    const init = () => {
      getProfile();
    };
    init();
    return {
      ...toRefs(state),
      getProfile,
      tabChange,
      tableSaveBtn,
      tableCloseBtn,
      fromSaveBtn,
      fromCloseBtn,
    };
  },
};
</script>

<style></style>
