<template>
  <div>
    <div class="loading" v-if="loading">
      <img src="../../assets/img/loading.gif" alt="" />
    </div>
    <div class="planlist" v-else>
      <breadcrumb :data="breadcrumb" />

      <div class="teacher_plan_list">
        <div class="list_detail">
          <div class="input_tab">
            <!-- 选项 -->
            <el-radio-group v-model="planType" @change="handleChange">
              <el-radio-button
                v-for="(item, index) in planList"
                :key="index"
                :label="index"
                >{{ item }}</el-radio-button
              >
            </el-radio-group>
          </div>
          <!-- 表格 -->
          <div class="table_detail">
            <super-table :columns="columns" :tableData="statusList">
              <template #name="{ data }">
                <p>{{ data.className }}</p>
                <p>{{ data.planname }}</p>
              </template>
              <template #time="{ data }">
                <p>据结束还剩：<b>0时0分0秒</b></p>
                <p>开始：{{ data.begintime }}</p>
                <p>结束：{{ data.endtime }}</p>
              </template>
              <template #progress="{ data }">
                <div class="cell">
                  <span
                    :class="
                      data.progress == '0'
                        ? 'percent percent2'
                        : 'percent percent3'
                    "
                    >{{ data.progress }}%</span
                  >
                </div>
              </template>
              <template #action="{ data }">
                <img
                  src="http://111.203.59.61:8060/static/img/watch.2cd91f7e.svg"
                  alt=""
                  @click="detail(data.classid, data.id)"
                  style="margin: 0 auto"
                />
              </template>
            </super-table>
          </div>

          <!-- 分页 -->
          <el-pagination
            layout="prev, pager, next, jumper"
            :total="total"
            :page-size="obj.pageSize"
            :current-page="obj.pageNum"
            @current-change="changeCur"
            style="text-align: right"
          >
          </el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs, onMounted } from "vue";
import { useRouter } from "vue-router";
import api from "../../api";
export default {
  setup() {
    const router = useRouter();
    const { training } = api;
    const state = reactive({
      breadcrumb: [
        { path: "/", name: "实训" },
        { path: "/teachers/planListManage", name: "计划（管理）" },
      ],
      columns: [
        {
          label: "班级/计划",
          slot: {
            body: "name",
          },
        },
        {
          label: "时间",
          slot: {
            body: "time",
          },
        },
        {
          label: "进度",
          slot: {
            body: "progress",
          },
        },
        {
          label: "操作",
          slot: {
            body: "action",
          },
        },
      ],
      obj: {
        classId: "",
        searchName: "",
        ifFinished: 2,
        pageNum: 1,
        pageSize: 10,
      },
      statusList: [],
      total: 0,
      planType: 2,
      planList: ["未开始", "进行中", "已结束"],
      loading: true,
    });

    // 切换班级数据
    const handleClass = async () => {
      let res = await training.getPlanListAll({ ...state.obj });
      if (res.code === 200) {
        console.log(res);
        state.statusList = res.rows;
        state.total = res.total;
        state.loading = false;
      }
    };

    const init = () => {
      handleClass();
    };

    const methods = {
      // tab状态
      handleChange: () => {
        state.obj.ifFinished = state.planType;
        handleClass();
      },
      // 班级切换
      handleCurIndex: (i) => {
        state.curIndex = i;
        handleClass();
      },
      // 条详情
      detail: (classid, id) => {
        router.push({
          path: "/teachers/viewPlan",
          query: {
            classid,
            id,
            see: false,
          },
        });
      },
      // 改变页数
      changeCur: (pageNum) => {
        state.obj.pageNum = pageNum;
        handleClass();
      },
    };

    onMounted(() => {
      init();
    });

    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss" scoped>
.planlist {
  width: 100%;

  .teacher_plan_list {
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }

  .list_detail {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    background: #ffffff;
    border-radius: 2px;

    .input_tab {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .el-radio-group {
      label:nth-child(1) span {
        border-radius: 20px 0 0 20px;
      }
      label:nth-child(3) span {
        border-radius: 0 20px 20px 0;
      }
    }

    .cell {
      box-sizing: border-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      word-break: break-all;
      line-height: 23px;
      padding-left: 10px;
      padding-right: 10px;

      .percent {
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        color: #ffa841;
      }

      .percent2 {
        color: #ccc;
      }
    }
  }
}
</style>
