<template>
  <div class="add">
    <div class="loading" v-if="loading">
      <img src="../../assets/img/loading.gif" alt="" />
    </div>
    <div v-else>
      <!-- 面包屑组件 -->
      <breadcrumb :data="breadcrumb" />

      <div class="box_content">
        <div class="top_check">
          <div class="addProject_title">
            <div class="top_left">
              <span class="icon"></span
              ><span class="top_left_title">{{
                form.stationVersionId ? "编辑岗位" : "添加岗位能力"
              }}</span>
            </div>
            <div class="top_right">
              <el-button style="width: 100px" @click="goBack">
                <span>返回</span></el-button
              ><el-button type="primary" @click="SubmitAudit" v-show="!flag3">
                <i class="el-icon-s-promotion"></i><span>提交审核</span>
              </el-button>
            </div>
          </div>
        </div>

        <div class="postskill_middle">
          <div class="baseinfo">
            <div class="addProject_title top">
              <div class="top_left">
                <span class="icon"></span
                ><span class="top_left_title">基本信息</span>
              </div>
              <div class="top_right save" v-show="flag" @click="handleFlag">
                <img
                  src="http://111.203.59.61:8060/static/img/edit.cb3644a6.svg"
                  alt=""
                /><span>编辑</span>
              </div>
              <div class="top_right save" v-show="!flag" @click="handleFlag">
                <img
                  src="http://111.203.59.61:8060/static/img/save.a18f6aa4.svg"
                  alt=""
                /><span>保存</span>
              </div>
            </div>

            <div class="form_detail">
              <el-form
                :inline="true"
                :model="form"
                class="demo-form-inline"
                :rules="rules"
                ref="ruleForm"
              >
                <el-form-item label="岗位名称" prop="name">
                  <el-input
                    v-model="form.name"
                    :disabled="flag ? true : false"
                  ></el-input>
                </el-form-item>
                <el-form-item label="专业选择" prop="majorId">
                  <el-select
                    v-model="form.majorId"
                    placeholder="请选择"
                    :disabled="flag ? true : false"
                    @change="handleSelect(form.majorId)"
                  >
                    <el-option
                      v-for="(item, index) in list"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    ></el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="版本号" prop="stationVersion">
                  <el-input-number
                    v-model="form.stationVersion"
                    controls-position="right"
                    :min="1"
                    :disabled="flag ? true : false"
                  ></el-input-number>
                </el-form-item>
                <el-form-item>
                  <el-form-item label="作者" prop="userName">
                    <span>{{ form.userName }}</span>
                  </el-form-item>
                </el-form-item>
              </el-form>

              <div class="salary_detail">
                <div class="detail_table">
                  <div class="left">
                    <div class="left_title">薪酬范围*</div>
                    <div class="left_title">岗位描述*</div>
                    <div class="left_title">岗位任务</div>
                  </div>
                  <div class="right">
                    <div class="right_content">
                      <div class="block">
                        <el-slider
                          v-model="form.stationLevelList[0].salaryList"
                          range
                          :marks="marks"
                          max="50000"
                          :disabled="flag ? true : false"
                        >
                        </el-slider>
                      </div>
                    </div>
                    <div class="right_content">
                      <textarea
                        v-model="form.stationLevelList[0].describes"
                        :disabled="flag ? true : false"
                      ></textarea>
                    </div>
                    <div class="right_content">
                      <textarea
                        v-model="form.stationLevelList[0].stationTask"
                        :disabled="flag ? true : false"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- 提示图标 -->
        <div class="postskill_bottom" v-if="!flag">
          <div class="lock_info">
            <div class="lock_img">
              <img
                src="http://111.203.59.61:8060/static/img/Lock.0318bb9d.svg"
                alt=""
              />
            </div>
            <div class="lock_text">
              完善岗位的基本信息并点击“保存”才可解锁岗位能力内容
            </div>
          </div>
        </div>
        <div class="postskill_bottom" v-else>
          <div class="post_skill_detail">
            <div class="detail_left">
              <div class="top_btn">
                <i class="el-icon-plus" @click="hendleAddPost"></i
                ><i class="el-icon-search"></i>
              </div>
              <el-tree
                :data="treeData"
                :props="defaultProps"
                @node-click="handleNodeClick"
              ></el-tree>
            </div>
            <div class="detail_right">
              <div class="top_btn">
                <div class="save_btn" v-show="!flag2" @click="hendleFlag2">
                  <span>保存</span
                  ><img
                    src="http://111.203.59.61:8060/static/img/save.a18f6aa4.svg"
                    alt=""
                  />
                </div>
                <div class="edit_btn" v-show="flag2">
                  <span>编辑</span
                  ><img
                    src="http://111.203.59.61:8060/static/img/edit.cb3644a6.svg"
                    alt=""
                  />
                </div>
              </div>

              <div class="detail">
                <el-form>
                  <el-from-item class="detail_a">
                    <b
                      >掌握要求
                      <el-rate
                        v-model="defaultProps.masterRequired"
                        :texts="rateText"
                        show-text
                      ></el-rate>
                    </b>

                    <span class="notice">
                      一星到三星分别代表了解、掌握、精通3个级别
                    </span>
                  </el-from-item>
                  <el-form-item
                    ><span>能力标准</span>
                    <Editor
                      @hendleEditor="hendleEditor"
                      v-model="defaultProps.abilityStandard"
                    />
                  </el-form-item>
                </el-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs, onMounted } from "vue";
import { ElMessage } from "element-plus";
import api from "../../api";
import Editor from "../../components/Editor.vue";
import { useRouter, useRoute } from "vue-router";
export default {
  name: "PostmAdd",
  components: {
    Editor,
  },
  setup() {
    const route = useRoute();
    const router = useRouter();
    const { gangwei } = api;
    const state = reactive({
      breadcrumb: [
        { path: "/", name: "岗位" },
        { path: "/teachers/postm", name: "添加岗位" },
      ],
      loading: true,
      flag: false,
      flag2: false,
      flag3: false,
      form: {
        majorId: "",
        name: "",
        stationVersion: 1,
        userName: "郭老师",
        stationVersionId: "", //编辑
        majorName: "",
        stationLevelList: [
          {
            describes: "",
            salaryList: [10000, 12000],
            stationLevel: 1,
            stationTask: "", //岗位任务
            level_name: "初级",
            disabled: false,
          },
          {
            describes: "",
            salaryList: [12000, 20000],
            stationLevel: 2,
            level_name: "中级",
            stationTask: "", //岗位任务
            disabled: false,
          },
          {
            describes: "",
            salaryList: [20000, 40000],
            stationLevel: 3,
            stationTask: "", //岗位任务
            level_name: "高级",
            disabled: false,
          },
        ],
      },
      rules: {
        name: [{ required: true, message: "请输入岗位名称", trigger: "blur" }],
        majorName: [
          { required: true, message: "请选择专业", trigger: "change" },
        ],
      },
      // 薪资
      marks: {
        5000: "5k",
        8000: "8k",
        20000: "20k",
        30000: "30k",
        40000: "40k",
      },
      // 岗位能力
      defaultProps: {},
      treeData: [],
      // ⭐
      value1: null,
      rateText: [1, 2, 3, 4, 5],
      // 专业数据
      list: [],
    });

    // // 编辑数据
    const getEdit = () => {
      let {
        form: { stationVersionId, searchTitle },
      } = state;
      // 编辑
      if (stationVersionId) {
        state.flag = true;
        gangwei.selectStationListById({ id: stationVersionId }).then((res) => {
          console.log("编辑数据", res);
          if (res.code == 200) {
            state.form = res.data;
          }
        });
        gangwei
          .selectSkillList({
            searchTitle: searchTitle,
            stationVersionId: stationVersionId,
          })
          .then((res) => {
            if (res.code == 200) {
              state.treeData = res.data;
              console.log(state.treeData);
              gangwei
                .selectSkillInfo({ id: state.treeData[0].id })
                .then((res2) => {
                  if (res2.code == 200) {
                    state.defaultProps = res2.data;
                  }
                });
            }
          });
      }
    };

    // 专业数据
    const getProfessional = () => {
      gangwei.selectStationLabel().then((res) => {
        state.list = res.data;
      });
    };

    const methods = {
      // 查询专业
      handleSelect: (id) => {
        state.list.forEach((item) => {
          if (item.id == id) {
            state.form.majorName = item.name;
          }
        });
      },
      // 点击top保存
      handleFlag: () => {
        let { name, majorId, stationLevelList } = state.form;
        if (
          !name ||
          !majorId ||
          !stationLevelList[0].describes ||
          !stationLevelList[0].stationTask
        ) {
          ElMessage.error("基本信息未填写完整");
        } else {
          // 保存
          if (state.flag == false) {
            gangwei.station({ ...state.form }).then((res) => {
              if (res.code === 200) {
                state.form = res.data;
                ElMessage.success("保存基本信息完成");
                state.flag = !state.flag;
                // 搜索技能岗位
                gangwei
                  .selectSkillList({
                    searchTitle: state.form.searchTitle,
                    stationVersionId: state.form.stationVersionId,
                  })
                  .then((res2) => {
                    if (res2.code == 200) {
                      state.treeData = res2.data;
                      state.treeData.map((item) => {
                        item.editStatus = false;
                      });
                    }
                  });
              }
            });
          } else {
            state.flag = !state.flag;
          }
        }
      },
      // 富文本编辑器
      hendleEditor: (value) => {
        state.defaultProps.abilityStandard = value;
      },
      // 添加岗位能力
      hendleAddPost: () => {
        console.log(state.form.stationVersionId);

        gangwei
          .inintSkill({
            stationVersionId: state.form.stationVersionId,
            parentId: 0,
          })
          .then((res) => {
            console.log(res);
            if (res.code == 200) {
              state.treeData = res.data.labelTreeIdList;
              state.treeData.map((item) => {
                item.editStatus = false;
              });
              state.defaultProps = res.data.skill;
            }
          });
      },
      // 岗位能力 保存
      hendleFlag2: () => {
        let {
          treeData,
          defaultProps: { abilityStandard },
        } = state;
        if (treeData.length < 0 || abilityStandard == null) {
          ElMessage.warning("请先添加技能");
        } else {
          gangwei.skill({ ...state.defaultProps }).then((res) => {
            console.log("保存技能成功", res);
            if (res.code == 200) {
              ElMessage.success("保存技能成功");
            }
          });
        }
      },
      // 提交审核
      SubmitAudit: () => {
        if (state.treeData.length == 0) {
          ElMessage.error("岗位下必须有一个技能");
        } else {
          gangwei
            .updateStationStatus({
              stationVersionId: state.form.stationVersionId,
            })
            .then(() => {
              ElMessage.success("提交审核成功");
              state.flag3 = true;
            });
        }
      },
      // 返回
      goBack: () => {
        router.push("/teachers/postm");
      },
    };

    const init = () => {
      state.form.stationVersionId = route.query.id;
      state.form.stationVersionId ? getEdit() : null;
      getProfessional();
      state.loading = false;
    };

    onMounted(() => {
      init();
    });

    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss">
.add {
  width: 100%;
  .box_content {
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto 20px;
  }

  .top_check {
    width: 100%;
    background: #fff;
    border-radius: 2px;
    margin-bottom: 20px;

    .addProject_title {
      display: flex;
      padding: 0 20px;
      height: 70px;
      justify-content: space-between;
      align-items: center;
    }

    .top_left {
      display: flex;

      .icon {
        width: 3px;
        height: 18px;
        background: #679cf6;
        display: block;
        margin-right: 10px;
      }

      .top_left_title {
        display: block;
        font-size: 18px;
        font-weight: 550;
        color: #303849;
      }
    }
  }

  .postskill_middle {
    background: #ffffff;
    border-radius: 2px;

    .baseinfo {
      width: 100%;
      background: #fff;
      border-radius: 2px;
      margin-bottom: 20px;

      .addProject_title {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        height: 70px;
        justify-content: space-between;
        align-items: center;

        .top_left {
          display: flex;

          .icon {
            width: 3px;
            height: 18px;
            background: #679cf6;
            display: block;
            margin-right: 10px;
          }

          .top_left_title {
            display: block;
            font-size: 18px;
            font-weight: 550;
            color: #303849;
          }
        }

        .top_right {
          color: #80879b;
          display: flex;
          align-items: center;
          cursor: pointer;

          span {
            font-size: 14px;
            font-weight: 400;
            color: #679cf6;
            display: block;
            margin-left: 3px;
          }
        }
      }

      .top {
        border-bottom: 1px solid rgba(178, 183, 198, 0.6);
      }

      .form_detail {
        padding: 30px 20px;

        .el-form {
          display: flex;
          justify-content: space-around;
        }

        .salary_detail {
          width: 100%;

          .detail_table {
            display: flex;
            align-items: center;
            border: 1px solid #b2b7c6;

            .left {
              width: 20%;
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;

              .left_title:nth-child(1) {
                width: 100%;
                height: 129px;
                text-align: center;
                line-height: 130px;
                background: #c5d0de;
                color: #303849;
                border-bottom: 1px solid #b2b7c6;
              }

              .left_title:nth-child(2) {
                width: 100%;
                height: 199px;
                text-align: center;
                line-height: 200px;
                background: #c5d0de;
                color: #303849;
                border-bottom: 1px solid #b2b7c6;
              }

              .left_title:nth-child(3) {
                width: 100%;
                height: 199px;
                text-align: center;
                line-height: 200px;
                background: #c5d0de;
                color: #303849;
                border-bottom: 1px solid #b2b7c6;
              }
            }

            .right {
              width: 80%;
              display: flex;
              flex-direction: column;

              .right_content:nth-child(1) {
                width: 100%;
                height: 129px;
                border-bottom: 1px solid #b2b7c6;

                .block {
                  width: 90%;
                  margin: 20px auto;
                }
              }

              .right_content:nth-child(2) {
                width: 100%;
                height: 199px;
                border-bottom: 1px solid #b2b7c6;
              }

              .right_content:nth-child(3) {
                width: 100%;
                height: 199px;
                border-bottom: 1px solid #b2b7c6;
              }

              textarea {
                width: 100%;
                height: 100%;
                border: none;
                outline: none;
              }
            }
          }
        }
      }
    }
  }

  .postskill_bottom {
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 2px;

    .post_skill_detail {
      padding: 20px;
      display: flex;

      .detail_left {
        width: 300px;
        background: #f0f1f4;

        .top_btn {
          display: flex;
          text-align: right;
          align-items: center;
          flex-direction: row-reverse;
          height: 44px;
          line-height: 44px;
          padding-right: 22px;
          border-bottom: 1px solid rgba(178, 183, 198, 0.6);
        }
      }

      .detail_right {
        flex: 1;

        .top_btn {
          .save_btn {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            margin-right: 35px;
            margin-top: 15px;
            cursor: pointer;

            span {
              font-size: 14px;
              font-weight: 400;
              color: #679cf6;
              display: block;
              margin-left: 3px;
            }
          }
        }

        .detail {
          display: flex;

          .el-form {
            .detail_a {
              margin-bottom: 20px;
              display: flex;
              margin-left: 20px;

              b {
                display: flex;
                width: 300px;
                align-items: center;
              }

              .notice {
                font-size: 12px;
                font-weight: 400;
                color: #80879b;
                margin-left: 100px;
              }
            }

            .el-form-item {
              margin: 0 20px;
            }
          }
        }
      }
    }

    .lock_info {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 30px;
      padding-bottom: 30px;

      .lock_img {
        width: 60px;
        height: 60px;

        .lock_text {
          margin-top: 20px;
          font-size: 14px;
          color: #a5a6a7;
        }
      }
    }
  }
}
</style>
