<template>
  <div class="postmdetail">
    <breadcrumb :data="breadcrumb" />
    <div class="loading" v-if="loading">
      <img src="../../assets/img/loading.gif" alt="" />
    </div>
    <div class="box_content" v-else>
      <div class="top">
        <div class="top_left">
          <span class="icon"></span><span class="top_left_title">基本信息</span>
        </div>
        <div class="top_right">
          <el-button @click="back">返回</el-button>
        </div>
      </div>

      <div class="content">
        <ul class="con_top">
          <li><b>岗位名称</b> {{ data.name }}</li>
          <li><b>专业</b> {{ data.majorName }}</li>
          <li><b>版本号</b> V{{ data.stationVersion }}</li>
          <li><b>作者</b> {{ data.userName }}</li>
        </ul>

        <div class="salary_detail" v-if="type == 'teacher'">
          <div class="detail_table">
            <div class="left">
              <div class="left_title">薪酬范围*</div>
              <div class="left_title">岗位描述*</div>
              <div class="left_title">岗位任务</div>
            </div>
            <div class="right">
              <div class="right_content">
                <div class="block">
                  <el-slider
                    v-model="data.stationLevelList[0].salaryList"
                    range
                    :marks="marks"
                    max="50000"
                    :disabled="flag ? true : false"
                  >
                  </el-slider>
                </div>
              </div>
              <div class="right_content">
                <textarea
                  v-model="data.stationLevelList[0].describes"
                  :disabled="flag ? true : false"
                ></textarea>
              </div>
              <div class="right_content">
                <textarea
                  v-model="data.stationLevelList[0].stationTask"
                  :disabled="flag ? true : false"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="con_table" v-else>
          <ul class="con_table_left">
            <li>薪资范围 *</li>
            <li>岗位详情 *</li>
            <li>岗位任务 *</li>
          </ul>
          <div class="con_table_right"></div>
        </div>
      </div>
      <div class="bottom">
        <div class="bottom_detail">
          <div class="detail_left">
            <el-input suffix-icon="el-icon-search" v-model="input"> </el-input>
            <div>暂无数据</div>
          </div>
          <div class="detail_right">
            <div class="right_div1">
              <b>掌握要求 </b>
              <el-rate
                v-model="value"
                disabled
                show-score
                text-color="#ff9900"
                score-template="{value}"
              >
              </el-rate>
              &emsp;
              <span>一星到三星分别代表了解、掌握、精通3个级别</span>
            </div>
            <div>
              <b>能力标准</b>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Axios from "../../utils/httptool";
import { useRoute, useRouter } from "vue-router";
import { reactive, toRefs } from "vue";
export default {
  setup() {
    const route = useRoute();
    const router = useRouter();
    const state = reactive({
      breadcrumb: [
        { path: "/", name: "岗位" },
        { path: "/student/postmDetail", name: "岗位详情" },
      ],
      id: "",
      data: {},
      input: "",
      value: 1,
      loading: true,
      // 薪资
      marks: {
        5000: "5k",
        8000: "8k",
        20000: "20k",
        30000: "30k",
        40000: "40k",
      },
      type: "",
    });

    state.type = localStorage.getItem("type");

    const init = () => {
      state.id = route.params.id;
      getDetails();
    };
    // 详情数据
    const getDetails = () => {
      Axios.get(
        `http://111.203.59.61:8060/dev-api/sxpt/station/selectStationListById/${state.id}`
      ).then((res) => {
        console.log(res);
        state.data = res.data;
        state.value = res.data.stationVersion;
        state.loading = false;
      });
    };

    const methods = {
      back: () => {
        router.go(-1);
      },
    };

    init();

    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss">
.postmdetail {
  width: 100%;

  .box_content {
    width: 1200px;
    padding: 0 10px;
    margin: 0 auto 20px;
    background: #fff;

    .top {
      width: 100%;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(178, 183, 198, 0.6);

      .top_left {
        display: flex;

        .icon {
          width: 3px;
          height: 18px;
          background: #679cf6;
          display: block;
          margin-right: 10px;
        }

        .top_left_title {
          font-size: 18px;
          font-weight: 550;
        }
      }
    }

    .content {
      width: 100%;

      .con_top {
        display: flex;
        height: 60px;
        align-items: center;
        justify-content: space-around;
      }

      .salary_detail {
        width: 100%;

        .detail_table {
          display: flex;
          align-items: center;
          border: 1px solid #b2b7c6;

          .left {
            width: 20%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            .left_title:nth-child(1) {
              width: 100%;
              height: 129px;
              text-align: center;
              line-height: 130px;
              background: #c5d0de;
              color: #303849;
              border-bottom: 1px solid #b2b7c6;
            }

            .left_title:nth-child(2) {
              width: 100%;
              height: 199px;
              text-align: center;
              line-height: 200px;
              background: #c5d0de;
              color: #303849;
              border-bottom: 1px solid #b2b7c6;
            }

            .left_title:nth-child(3) {
              width: 100%;
              height: 199px;
              text-align: center;
              line-height: 200px;
              background: #c5d0de;
              color: #303849;
              border-bottom: 1px solid #b2b7c6;
            }
          }

          .right {
            width: 80%;
            display: flex;
            flex-direction: column;

            .right_content:nth-child(1) {
              width: 100%;
              height: 129px;
              border-bottom: 1px solid #b2b7c6;

              .block {
                width: 90%;
                margin: 20px auto;
              }
            }

            .right_content:nth-child(2) {
              width: 100%;
              height: 199px;
              border-bottom: 1px solid #b2b7c6;
            }

            .right_content:nth-child(3) {
              width: 100%;
              height: 199px;
              border-bottom: 1px solid #b2b7c6;
            }

            textarea {
              width: 100%;
              height: 100%;
              border: none;
              outline: none;
            }
          }
        }
      }

      .con_table {
        width: 100%;
        margin: 0 10px;
        display: flex;
        border-left: 1px solid #b2b7c6;
        .con_table_left {
          width: 230px;

          li {
            height: 150px;
            background: #c5d0de;
            border-bottom: 1px solid #b2b7c6;
            text-align: center;
            line-height: 150px;
          }
        }
        .con_table_right {
          flex: 1;
          border: 1px solid #b2b7c6;
          margin-right: 20px;
        }

        .right {
          width: 80%;
          display: flex;
          flex-direction: column;

          .right_content:nth-child(1) {
            width: 100%;
            height: 129px;
            border-bottom: 1px solid #b2b7c6;

            .block {
              width: 90%;
              margin: 20px auto;
            }
          }

          .right_content:nth-child(2) {
            width: 100%;
            height: 199px;
            border-bottom: 1px solid #b2b7c6;
          }

          .right_content:nth-child(3) {
            width: 100%;
            height: 199px;
            border-bottom: 1px solid #b2b7c6;
          }

          textarea {
            width: 100%;
            height: 100%;
            border: none;
            outline: none;
          }
        }
      }
    }
    .bottom {
      margin: 20px 0;

      .bottom_detail {
        padding: 10px;
        display: flex;

        .detail_left {
          width: 300px;
          height: 120px;
          background: #f0f1f4;

          .el-input {
            background: #f0f1f4;
            border: none;
          }

          div {
            border-top: 1px solid #ccc;
            text-align: center;
          }
        }
        .detail_right {
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .right_div1 {
            display: flex;
          }
        }
      }
    }
  }
}
</style>
