<template>
  <div class="questionHandleBox">
    <breadcrumb :data="breadcrumb" />
    <div class="questionHandleDiv">
      <div class="questionHnadleCon">
        <div class="questionHandle_left">
          <div class="tabTitle">
            <div class="tabSpan">
              <div
                v-for="(item, index) in tabSpanList"
                :key="index"
                @click="clickTab(index)"
              >
                <span
                  ><b>{{ item }}</b></span
                >
                <i :class="tabIndex == index ? 'tabActive' : ''"></i>
              </div>
            </div>
          </div>
          <div class="searchBox">
            <input type="text" class="searchInp" placeholder="搜索问题" />
            <i class="el-icon-search" @click="searchChange"></i>
          </div>
          <div class="left_con">
            <div
              class="questionCon_main_com_item"
              v-for="item in questionList"
              :key="item.answerId"
            >
              <div class="item_head">
                <div class="questionName">{{ item.qUserName }}</div>
                <div class="replyTime">{{ item.replyTime }}</div>
                <div class="typeNum">
                  实训类型：<span>{{ typeList[item.typeNum] }}</span>
                </div>
                <div class="el-icon-s-comment"></div>
                <div class="answerCount">{{ item.answerCount }}</div>
              </div>
              <div class="item_main">
                <div class="item_main_left">
                  <div class="item_main_left_div">
                    <div v-if="item.quality">
                      <img
                        src="http://111.203.59.61:8060/static/img/boutique.fc46be52.svg"
                        alt=""
                      />
                    </div>
                    <div v-if="item.authentication">
                      <img
                        src="http://111.203.59.61:8060/static/img/authentication.c814dd7c.svg"
                        alt=""
                      />
                    </div>
                    <div class="questionContent">
                      {{ item.questionContent }}
                    </div>
                  </div>
                  <div class="questionTitle">{{ item.questionTitle }}</div>
                  <div class="questionLabels">
                    <span v-for="(value, index) in item.labels" :key="index">{{
                      value
                    }}</span>
                  </div>
                </div>
                <div class="item_main_right">
                  <div class="lookAll">
                    <span>查看全部</span>
                    <span class="el-icon-arrow-down"></span>
                  </div>
                  <div class="operationBox">
                    <!-- 修改 -->
                    <i
                      class="el-icon-edit-outline"
                      @click="editBtn(item.answerId)"
                    ></i>
                    <!-- 删除 -->
                    <i
                      class="el-icon-delete"
                      @click="deleteBtn(item.answerId)"
                    ></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="questionListMessage" v-if="questionList.length == 0">
              暂无数据
            </div>
          </div>
          <div class="block">
            <el-pagination
              @size-change="handleSizeChange"
              @current-change="handleCurrentChange"
              :page-size="10"
              :current-page="1"
              layout="prev, pager, next, jumper"
              :total="total"
            >
            </el-pagination>
          </div>
        </div>
        <div class="questionHandle_right">
          <div class="answerBox">
            <div class="answerBox_title">
              <i></i>
              <b>我的回答</b>
            </div>
            <div class="answerBox_img">
              <img
                src="https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg"
                alt=""
              />
              <span>黄辉</span>
            </div>
            <div class="answer_con">
              <div class="questionDiv">
                <div class="questionDiv_title">问</div>
                <div class="questionDiv_con">
                  提了<span>{{ replyList.numberQuestions }}</span
                  >个问题，<span>{{ replyList.numberReplies }} </span
                  >人进行了回答
                </div>
              </div>
              <div class="answerDiv">
                <div class="answerDiv_title">答</div>
                <div class="answerDiv_con">
                  回答了<span>{{ replyList.replyCount }}</span
                  >个问题
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="quillBox" v-if="idEdit">
      <div class="quillCon">
        <p>编辑</p>
        <div class="quill">
          <Editor @hendleEditor="hendleEditor" :value="editorValue">
            <div class="quilButtom">
              <button class="cancelBtn" @click="cancelBtn">取消</button>
              <button class="publishBtn" @click="publishBtn">保存</button>
            </div>
          </Editor>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs } from "vue";
import { ElMessage, ElMessageBox } from "element-plus";
import "@/assets/questionHandle.css";
import api from "@/api";
const { questionHandle } = api;
import Editor from "@/components/Editor.vue";
export default {
  components: {
    Editor,
  },
  setup() {
    const state = reactive({
      breadcrumb: [
        { path: "/", name: "问答" },
        { path: "/teachers/questionHandle", name: "问答管理" },
      ],
      tabSpanList: ["我的问题", "我的答案"],
      typeList: ["实训", "面试", "工作", "其他", "答辩"],
      replyList: "",
      questionList: [],
      tabIndex: 0,
      total: 0,
      pageNum: 1,
      pageSize: 10,
      pageTitle: "",
      idEdit: false,
      editorValue: "",
    });
    //获取问答信息
    const getReply = () => {
      questionHandle.reply().then((res) => {
        console.log(res.data);
        state.replyList = res.data;
      });
    };
    //分页数据
    const listObj = {
      pageNum: state.pageNum,
      pageSize: state.pageSize,
      pageTitle: state.pageTitle,
    };
    //获取我的问题列表
    const getAskList = (listObj) => {
      questionHandle.getAsk(listObj).then((res) => {
        console.log(res, "askList");
        state.questionList = res.rows;
        state.total = res.total;
      });
    };
    //获取我的答案列表
    const getAnswerList = (listObj) => {
      questionHandle.getAnswer(listObj).then((res) => {
        console.log(res, "answerList");
        state.total = res.total;
        state.questionList = res.rows;
      });
    };
    //点击tab切换
    const clickTab = (index) => {
      //回去对应的下标
      state.tabIndex = index;
      //判断下标
      if (index == 0) {
        //如果是我的问题  调用获取我的问题列表数据方法
        console.log("获取我的问题列表数据");
        getAskList(listObj);
        state.pageNum = 1;
        state.pageSize = 10;
        state.pageTitle = "";
      } else if (index == 1) {
        //如果是我的答案 调用获取我的答案列表数据方法
        console.log("获取我的回答数据列表");
        getAnswerList(listObj);
        state.pageNum = 1;
        state.pageSize = 10;
        state.pageTitle = "";
      }
    };
    //点击改变页数
    const handleCurrentChange = (val) => {
      const listObj1 = {
        ...listObj,
        pageNum: val,
      };
      if (state.tabIndex == 0) {
        getAskList(listObj1);
      } else if (state.tabIndex == 1) {
        getAnswerList(listObj1);
      }
    };
    //点击修改
    const editBtn = (answerId) => {
      state.idEdit = true;
      questionHandle.edit({ answerId }).then((res) => {
        state.editorValue = res.data;
      });
    };
    //点击删除
    const deleteBtn = (answerId) => {
      ElMessageBox.confirm("此操作将永久删除该文件, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          questionHandle.del({ answerId }).then((res) => {
            console.log(res);
          });
          ElMessage({
            type: "success",
            message: "删除成功!",
          });
        })
        .catch(() => {
          ElMessage({
            type: "info",
            message: "已取消删除",
          });
        });
    };
    //获取文本编辑器中的值
    // const hendleEditor = () => {};
    //取消
    const cancelBtn = () => {
      state.idEdit = false;
    };
    //保存
    const publishBtn = () => {
      state.idEdit = false;
    };
    //初始化
    const init = () => {
      getReply();
      getAskList(listObj);
    };
    init();
    return {
      ...toRefs(state),
      getReply,
      clickTab,
      handleCurrentChange,
      deleteBtn,
      editBtn,
      // hendleEditor,
      cancelBtn,
      publishBtn,
    };
  },
};
</script>

<style></style>
