<template>
  <div>
    <breadcrumb :data="breadcrumb" />
    <div class="content">
      <div class="tian shadow-xl" v-if="type == 'student'">
        <div class="topTitle w-full h-20 flex">
          <div
            class="h-full justify-center items-center p-8 text-lg"
            v-for="(item, index) in titleTabs"
            :key="index"
            @click="tabs(index)"
          >
            <span :class="currentIndex === index ? 'isspan' : ''">{{
              item
            }}</span>
          </div>
        </div>
        <div v-if="currentIndex === 0">
          <keep-alive><RankList :tableData="tableData" /></keep-alive>
        </div>
        <div v-else-if="currentIndex === 1">
          <keep-alive><RankList :tableData="aRangKingData" /></keep-alive>
        </div>
      </div>
      <div class="tian shadow-xl" v-else>
        <div class="topTitle w-full h-20 flex">
          <div
            class="h-full justify-center items-center p-8 text-lg"
            v-for="(item, index) in titleTabs"
            :key="index"
            @click="tabs(index)"
          >
            <span :class="currentIndex === index ? 'isspan' : ''">{{
              item
            }}</span>
          </div>
        </div>
        <div v-if="currentIndex === 0">
          <PieChart />
        </div>
        <div v-else-if="currentIndex === 1">
          <PieChart />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs } from "vue";
import { useStore } from "vuex";
import api from "../../api/index";
import RankList from "../../components/RankList.vue";
import PieChart from "../../components/PieChart.vue";
const { interview, plea } = api;
export default {
  components: {
    RankList,
    PieChart,
  },
  setup() {
    const store = useStore();
    const state = reactive({
      breadcrumb: [
        { path: "/", name: "面试" },
        { path: "/teachers/rankList", name: "面试排行榜" },
      ],
      titleTabs: ["面试记录榜单", "面试榜单"],
      currentIndex: 0,
      tableData: [],
      aRangKingData: [],
      type: "",
    });
    state.type = localStorage.getItem("type");
    if (state.type == "student") {
      var studentMethods = {
        tabs: (index) => {
          state.currentIndex = index;
          if (index === 0) {
            getTableData();
          } else if (index === 1) {
            getRankTableData();
          }
        },
      };
      var getTableData = function () {
        interview.rangKing().then((res) => {
          state.tableData = res.rows;
        });
      };
      getTableData();
      var getRankTableData = function () {
        interview.aRangKing().then((res) => {
          state.aRangKingData = res.rows;
        });
      };
    } else if (state.type == "teacher") {
      var teacherMethods = {
        tabs: (index) => {
          state.currentIndex = index;
          if (state.currentIndex == 0) {
            getis(plea.getInterViewRangking());
          } else if (state.currentIndex == 1) {
            getis(plea.getInterViewRangkingT());
          }
        },
      };
      var getis = function (interfice) {
        interfice.then((res) => {
          const json = JSON.parse(
            JSON.stringify(res.rows).replace(/count/g, "value")
          );
          const json2 = JSON.parse(
            JSON.stringify(json).replace(/commitName/g, "name")
          );
          let arr = [];
          json2.forEach((item) => {
            arr.push({
              value: item.value,
              name: item.name,
            });
          });
          store.commit("GET_INTERVIER_RANK", arr);
        });
      };
    }
    if (state.currentIndex === 0) {
      getis(plea.getInterViewRangking());
    }
    return {
      ...toRefs(state),
      ...studentMethods,
      ...teacherMethods,
    };
  },
};
</script>

<style lang="scss" scoped>
.content {
  width: 100%;
  height: 40.5rem;
  background: rgba(244, 244, 246, 0.1);
  .tian {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background: #fff;
  }
  .topTitle {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
  }
  .isspan {
    border-bottom: skyblue 5px solid;
    padding-bottom: 1.1rem;
    transition: 1s all;
  }
}
</style>
