<template>
  <div class="terminal">
    <el-button type="primary" @click="flag = true" v-show="!flag"
      >加载终端</el-button
    >
    <iframe v-if="flag" src="http://49.232.77.197:8081/guacamole"></iframe>
  </div>
</template>

<script>
import { reactive, toRefs } from "vue";
export default {
  setup() {
    const state = reactive({
      flag: false,
    });

    return {
      ...toRefs(state),
    };
  },
};
</script>

<style lang="scss">
.terminal {
  width: 100%;
  height: 700px !important;
  display: flex;
  align-items: center;
  justify-content: center;

  iframe {
    width: 100%;
    height: 100%;
  }
}
</style>
