<template>
  <div class="training">
    <div class="loading" v-if="loading">
      <img src="../../assets/img/loading.gif" alt="" />
    </div>
    <div class="training_box" v-else>
      <div class="t_box_left">
        <!-- tab切换 -->

        <el-tabs @tab-click="handleClick">
          <el-tab-pane label="小组项目">
            <div class="left_box">
              <!-- 选项 -->
              <el-radio-group v-model="planType" @change="handleChange">
                <el-radio-button
                  v-for="(item, index) in planList"
                  :key="index"
                  :label="index"
                  >{{ item }}</el-radio-button
                >
              </el-radio-group>
              <!-- 内容 -->
              <ul class="plan">
                <li v-for="(item, index) in list" :key="index">
                  <div class="plan_top">
                    <h4>
                      <span>{{ item.planName }}</span>
                      <span>{{ item.planClassName }}</span>
                    </h4>
                    <p>项目{{ item.projectCount }}个 | 时长天</p>
                    <p>{{ item.beginDate }} ~ {{ item.endDate }}</p>
                  </div>
                  <!-- 进度条 -->
                  <div class="plan_progres">
                    <p>
                      <el-button type="text"
                        >已完成{{ item.planProgress }}%</el-button
                      >
                    </p>
                    <el-progress
                      :percentage="item.planProgress"
                      :color="customColors"
                      :show-text="false"
                    />
                  </div>
                  <!-- 展开 -->
                  <div class="plan_detail">
                    <p>
                      <span @click="handleFlag(item.id, index)">{{
                        item.planStates == "1" ? "收起" : "展开"
                      }}</span>
                      <i
                        :class="
                          item.planStates == '1'
                            ? 'rotate el-icon-arrow-down'
                            : 'rotate2 el-icon-arrow-down'
                        "
                      ></i>
                    </p>
                    <div
                      class="plan_detail_box"
                      v-show="item.planStates == '1'"
                    >
                      <div
                        class="detail_box_content"
                        v-for="(item, index) in detailData"
                        :key="index"
                      >
                        <div class="detail_top">
                          <h4>
                            <span>{{ item.projectName }}</span>
                          </h4>
                          <p>任务0个 | 时长天</p>
                          <p>{{ item.beginDate }} ~ {{ item.endDate }}</p>
                        </div>
                        <div class="detail_content">
                          <el-progress
                            :percentage="
                              item.selectClassPlanByStuList.groupProgress
                            "
                            :color="customColors"
                          />
                          <p>
                            <span>
                              <img
                                src="http://111.203.59.61:8060/static/img/person.358ba865.svg"
                                alt=""
                              />
                              人员
                              {{
                                item.selectClassPlanByStuList.stuList.length
                              }}</span
                            >
                            <span>
                              <img
                                src="http://111.203.59.61:8060/static/img/complete.ac9f6b54.svg"
                                alt=""
                              />
                              按期完成
                              {{ item.selectClassPlanByStuList.finished }}</span
                            >
                            <span>
                              <img
                                src="http://111.203.59.61:8060/static/img/nocomplete.3f20402c.svg"
                                alt=""
                              />
                              延期未完成
                              {{ item.selectClassPlanByStuList.members }}</span
                            >
                          </p>
                        </div>
                        <!-- 表格 -->
                        <el-table
                          :data="item.selectClassPlanByStuList.stuList"
                          border
                          show-summary
                        >
                          <el-table-column prop="username" label="姓名">
                          </el-table-column>
                        </el-table>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- 分页 -->
              <el-pagination
                layout="prev, pager, next, jumper"
                :total="total"
                :page-size="pageSize"
                :current-page="pageNum"
                @current-change="changeCur"
              >
              </el-pagination>
            </div>
          </el-tab-pane>

          <!-- 收藏项目 -->
          <el-tab-pane label="收藏项目">
            <ul class="collect_box">
              <li
                v-for="(item, index) in collectData"
                :key="index"
                @click="goDetail(item.id)"
              >
                <img src="" alt="" />
                <i class="el-icon-star-on"></i>
                <div class="img_bottom">
                  <div class="img_bottom_title">
                    <h4>{{ item.name }}</h4>
                    <p>{{ item.description }}</p>
                  </div>
                  <div class="botton_btttom">
                    <span>
                      <i class="el-icon-thumb"></i>
                      {{ item.stuCount }}</span
                    >
                    <span>
                      <i class="el-icon-star-off"></i>
                      {{ item.favorCount }}</span
                    >
                    <b>教学实训</b>
                  </div>
                </div>
              </li>
            </ul>

            <!-- 分页 -->
            <el-pagination
              layout="prev, pager, next, jumper"
              :total="total2"
              :page-size="pageSize2"
              :current-page="pageNum2"
              @current-change="changeCur2"
            >
            </el-pagination>
          </el-tab-pane>
        </el-tabs>
      </div>
      <div class="t_box_right">
        <div class="right_box">
          <div class="right_top">
            <i class="icon"></i>
            <span>相关实训</span>
          </div>
          <ul class="right_content">
            <li
              v-for="(item, index) in relatedData"
              :key="index"
              @click="goDetail(item.id)"
            >
              <img src="" alt="" />
              <div>
                <span>{{ item.name }}</span>
                <p>
                  <span>
                    <i class="el-icon-thumb"></i>
                    {{ item.stuCount }}</span
                  >
                  <span>
                    <i class="el-icon-star-off"></i>
                    {{ item.favorCount }}</span
                  >
                </p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs, onMounted } from "vue";
import { useRouter } from "vue-router";
import api from "../../api";
export default {
  setup() {
    const router = useRouter();
    const { training } = api;
    const state = reactive({
      planList: ["未开始", "进行中", "已结束"],
      planType: "2",
      pageNum: 1,
      pageSize: 5,
      // 项目数据
      list: [],
      total: 0,
      percentage2: 0,
      customColors: [
        { color: "#f56c6c", percentage: 20 },
        { color: "#e6a23c", percentage: 40 },
        { color: "#5cb87a", percentage: 60 },
        { color: "#1989fa", percentage: 80 },
        { color: "#6f7ad3", percentage: 100 },
      ],
      flag: false,
      loading: true,
      // 展开数据
      detailData: [],
      // 相关实训
      relatedData: [],
      total2: 0,
      pageNum2: 1,
      pageSize2: 12,
      // 收藏数据
      collectData: [],
    });
    // 状态数据
    const handletab = () => {
      training
        .selectClassPlanByStu({
          planType: state.planType,
          pageNum: state.pageNum,
          pageSize: state.pageSize,
        })
        .then((res) => {
          if (res.code === 200) {
            state.list = res.rows;
            state.total = res.total;
            state.flag = res.rows.planStates;
            state.loading = false;
          }
        });
    };
    // 相关实训
    const relatedTraining = () => {
      training
        .relatedTraining({
          isAsc: "desc",
          orderByColumn: "project.stucount",
          pageNum: 1,
          pageSize: 5,
          proType: null,
          specialtyTag: null,
          industryTag: null,
          proName: null,
        })
        .then((res) => {
          console.log(res);
          state.relatedData = res.rows;
        });
    };
    // 收藏项目
    const collectProject = () => {
      training
        .collectProject({
          pageNum: state.pageNum2,
          pageSize: state.pageSize2,
          isAsc: "desc",
        })
        .then((res) => {
          console.log(res);
          state.collectData = res.rows;
          state.total2 = res.total;
        });
    };

    const methods = {
      // 项目切换
      handleClick: (tab) => {
        if (tab.props.label === "收藏项目") {
          relatedTraining();
          collectProject();
        }
      },
      // 切换状态
      handleChange: () => {
        handletab();
      },
      // 展开
      handleFlag: (id, i) => {
        console.log(id, i);
        state.list.forEach((item) => {
          if (item.id == id) {
            item.planStates == "2"
              ? (item.planStates = "1")
              : (item.planStates = "2");
          }
        });
        training.selectClassPlanByStuInfo({ id }).then((res) => {
          state.detailData = res.data;
        });
      },
      // 分页改变当前页
      changeCur: (pageNum) => {
        state.pageNum = pageNum;
        handletab();
      },
      // 分页改变当前页
      changeCur2: (pageNum) => {
        state.pageNum2 = pageNum;
        collectProject();
      },
      // 跳详情
      goDetail: (id) => {
        // console.log(id);
        router.push(`/teachers/trainingdetail/${id}`);
      },
    };

    onMounted(() => {
      handletab();
      relatedTraining();
    });

    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss">
.training {
  width: 100%;

  .training_box {
    width: 1200px;
    background: #f4f4f7;
    margin: 5px auto 0;
    display: flex;
    justify-content: space-around;
  }
}

.t_box_left {
  width: 880px;
  background: #fff;
}

.el-tabs {
  .el-tabs__nav-scroll {
    width: 100%;
    height: 60px;
    padding: 0 20px;

    .el-tabs__item {
      padding: 0 20px;
      height: 40px;
      font-size: 18px;
      font-weight: 550;
      margin: 10px 0;
      color: #000;
    }

    .el-tabs__active-bar {
      height: 4px;
      width: 72px;
    }
  }
}

.left_box {
  margin: 20px;

  .el-radio-group {
    label:nth-child(1) span {
      border-radius: 20px 0 0 20px;
    }
    label:nth-child(3) span {
      border-radius: 0 20px 20px 0;
    }
  }

  .plan {
    font-size: 12px;
    color: #80879b;

    li {
      border: 1px solid #e7e9ed;
      margin: 20px 0;
      padding: 20px;

      .plan_top {
        h4 {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          color: #000;
        }
      }

      .plan_progres {
        p {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          button {
            font-size: 16px;
            color: #ff8d41;
          }
        }
      }

      .plan_detail {
        margin-top: 20px;

        p {
          align-items: center;
          font-size: 14px;
          display: flex;
          justify-content: flex-end;
        }

        .rotate {
          transform: rotate(-180deg);
          transition: all 0.8s;
        }

        .rotate2 {
          transition: all 0.8s;
        }

        .plan_detail_box {
          margin: 20px 0;
        }

        .detail_box_content {
          border: 1px solid #e7e9ed;
          // padding: 20px;

          .detail_top {
            padding: 20px;
            background: rgba(178, 183, 198, 0.1);
            h4 {
              font-size: 16px;
              font-weight: 550;
              color: #303849;
            }
            p {
              display: flex;
              justify-content: flex-start;
              font-size: 12px;
            }
          }

          .detail_content {
            padding: 20px;
            p {
              display: flex;
              justify-content: flex-start;
              font-size: 12px;
              margin: 10px 0;

              span {
                display: flex;
                align-items: center;
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
    .el-table--fit {
      border-left: none;
      border-right: none;
      height: auto;
      text-align: left;

      .el-table th,
      .el-table td {
        text-align: left;
      }
    }
  }
}

.collect_box {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;

  li {
    width: 262px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    position: relative;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 20px;

    img {
      width: 262px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      height: 154px;
    }

    .img_bottom {
      height: 100px;
      bottom: 0;
      background: #f7f8fa;
      transition: bottom 0.3s;
      position: relative;
    }

    // .img_bottom:hover {
    //   height: 200px;
    // }

    .img_bottom_title {
      height: 100%;
      padding: 20px 10px 0;
      top: 0;
      background: #f7f8fa;
      overflow: hidden;
      transition: all 0.3s ease-out;
    }
  }
}

.collect_box {
  width: 100%;
  height: 260px;
  display: flex;
  justify-content: space-around;
  li {
    width: 260px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-out;
    position: relative;
    margin-left: 9px;
    margin-right: 9px;
    margin-bottom: 20px;
    > i {
      position: absolute;
      right: 10px;
      top: 5px;
      display: none;
      color: #e72424;
      font-size: 22px;
    }
    img {
      width: 260px;
      height: 150px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }
    .img_bottom {
      height: 100px;
      bottom: 0;
      background: #f7f8fa;
      transition: bottom 0.3s;
      position: relative;
      .img_bottom_title {
        width: 100%;
        position: absolute;
        height: 100%;
        padding: 20px 10px 0;
        top: 0;
        background: #f7f8fa;
        overflow: hidden;
        transition: all 0.3s ease-out;
        h4 {
          line-height: 30px;
        }
      }
      .botton_btttom {
        width: 100%;
        height: 55px;
        color: #666;
        font-size: 13px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #f7f8fa;
        display: flex;
        align-items: center;
        span {
          margin: 0 5px;
        }
        b {
          background: #ff8d41;
          padding: 3px 10px;
          border-radius: 20px;
          margin-left: 50px;
          color: #fff;
        }
      }
    }
  }
  > li:hover > i {
    display: block;
  }
  > li:hover .img_bottom .img_bottom_title {
    top: -60px;
  }
}

.el-pagination {
  text-align: right;
}

.t_box_right {
  width: 280px;
  box-sizing: border-box;
  .right_box {
    background: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    padding-top: 19px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .right_top {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    .icon {
      display: inline-block;
      width: 3px;
      height: 18px;
      background: #679cf6;
      margin-right: 10px;
    }
    span {
      font-size: 18px;
      font-weight: 550;
      color: #303849;
    }
  }

  .right_content {
    li {
      height: 84px;
      color: #000;
      display: flex;
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 12px;
      padding-right: 15px;
      border-left: 3px solid #fff;
      cursor: pointer;
      justify-content: space-around;
      line-height: 30px;
      img {
        width: 64px;
        height: 64px;
      }

      p {
        display: flex;

        span {
          font-size: 12px;
          font-weight: 400;
          color: #80879b;
          margin-right: 20px;
          i {
            font-size: 16px;
          }
        }
      }
    }
    li:hover {
      border-left: 3px solid #679cf6;
      background: #f0f5fe;
    }
  }
}
</style>
