<template>
  <div class="detalPro">
    <!-- 面包屑组件 -->
    <breadcrumb :data="breadcrumb" />
    <div class="loading" v-if="loading">
      <img src="../../assets/img/loading.gif" alt="" />
    </div>
    <div class="mainn" v-else>
      <div class="main_left">
        <div class="main_left_top">
          <p class="spp">
            <span class="sp">人学过：</span>
            <span class="sp">人关注：</span>
            <span class="sp">作者：</span>
          </p>
        </div>

        <div class="main_left_middle">
          <!-- 实训大纲， 实训计划 -->
          <div class="tab">
            <el-tabs v-model="activeName2" @tab-click="handleClick">
              <el-tab-pane label="实训大纲" name="first" class="first">
                <ul>
                  <li
                    v-for="(item, index) in tabsList2"
                    :key="index"
                    :class="curindex == index ? 'active' : ''"
                    @click="handleCurindex(index)"
                  >
                    {{ item.label }}
                  </li>
                </ul>
                <ol>
                  <li v-for="(item, index) in children" :key="index">
                    {{ item.label }}
                  </li>
                </ol>
              </el-tab-pane>

              <el-tab-pane label="实训任务" name="second">
                <el-table :data="tableData">
                  <el-table-column prop="date" label="任务名称">
                  </el-table-column>
                  <el-table-column prop="name" label="考核标准">
                  </el-table-column>
                  <el-table-column prop="address" label="保薪技能">
                  </el-table-column>
                  <el-table-column prop="address" label="提薪技能">
                  </el-table-column>
                </el-table>
              </el-tab-pane>
              <el-tab-pane label="项目资源" name="third">
                <div class="third">
                  <p v-for="(item, index) in thirdList" :key="index">
                    {{ item.name }}
                  </p>
                </div>
              </el-tab-pane>
              <el-tab-pane label="实训环境" name="fourth"> </el-tab-pane>
              <el-tab-pane label="前置项目" name="five">
                <el-pagination
                  @size-change="handleSizeChange"
                  @current-change="handleCurrentChange"
                  :page-size="1"
                  layout="prev, pager, next, jumper"
                  :total="1"
                >
                </el-pagination
              ></el-tab-pane>
            </el-tabs>
          </div>
          <div class="cont"></div>
        </div>

        <div class="main_left_foot">
          <el-tabs v-model="activeNamee" @tab-click="handleClick">
            <el-tab-pane :label="'实训评论（' + total + '）'" name="first1">
              <div class="comment">
                <!-- 评论区 -->
                <div class="headPortrait">
                  <img
                    src="https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg"
                    alt=""
                  />
                </div>
                <div class="comment_inp">
                  <input v-model="input" placeholder="来说两句吧" class="inp" />
                  <el-button
                    type="primary"
                    class="comment_btn"
                    @click="chanageinp"
                    >发表评论</el-button
                  >
                </div>
              </div>
              <!-- 评论数据 -->
              <div class="comment_list">
                <ul>
                  <li v-for="(item, index) in pingList" :key="index">
                    <img
                      src="https://fuss10.elemecdn.com/e/5d/4a731a90594a4af544c0c25941171jpeg.jpeg"
                      alt=""
                      class="tupian"
                    />
                    <div>
                      <p>{{ item.disReplyid }}</p>
                      <p>{{ item.disReplycontent }}</p>
                      <p>{{ item.replyTime }}</p>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- 分页 -->
              <div class="block">
                <el-pagination
                  @current-change="handleCurrentChange"
                  :pager-count="10"
                  :current-page="pageNum"
                  :page-size="pageSize"
                  layout="prev, pager, next, jumper"
                  :total="total"
                >
                </el-pagination>
              </div>
            </el-tab-pane>
            <el-tab-pane label="实训问答（）" name="second1">
              <!-- 分页 -->
              <el-pagination
                layout="prev, pager, next, jumper"
                :total="total2"
                :page-size="pageSize2"
                :current-page="pageNum2"
                @current-change="changeCur2"
              >
              </el-pagination>
            </el-tab-pane>
          </el-tabs>
        </div>
      </div>
      <div class="main_right">
        <div class="main_right_img">
          <img :src="rightImg" alt="" />
        </div>
        <div class="main_right_teacher">
          <h3 class="teacher">
            <span>|</span>
            <span>指导老师</span>
          </h3>
          <div class="headPortrait">
            <img
              src="https://cube.elemecdn.com/6/94/4d3ea53c084bad6931a56d5158a48jpeg.jpeg"
              alt=""
            />
            <span>马超</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { reactive, toRefs } from "vue";
import { useRoute } from "vue-router";
import { ElMessage } from "element-plus";
import "../../assets/trainingDetail.scss";
// // 接口
import api from "@/api/index.js";
export default {
  setup() {
    const { training } = api;
    const route = useRoute();
    const state = reactive({
      breadcrumb: [
        { path: "/", name: "实训" },
        { path: "/", name: "实训详情" },
      ],
      list: [],
      activeName: "first",
      tabPosition: "left",
      activeNamee: "first1",
      textarea: "",
      input: "",
      //详情图片
      rightImg: "",
      //评论 分页数据
      pingList: [],
      pageSize: 10,
      pageNum: 1,
      total: 0,
      id: null,
      loading: true,
      tabsList: [
        {
          title: "实训大纲",
        },
        {
          title: "实训任务",
        },
        {
          title: "项目资源",
        },
        {
          title: "实训环境",
        },
        {
          title: "前置环境",
        },
      ],
      activeName2: "first",
      tabsList2: [], //实训大纲tab切换数据
      thirdList: [
        {
          name: "资源名称",
        },
        {
          name: "资源类型",
        },
        {
          name: "提交文件",
        },
        {
          name: "描述",
        },
        {
          name: "教师",
        },
        {
          name: "学生",
        },
      ],
      // 问答
      pageSize2: 10,
      pageNum2: 1,
      total2: 0,
      questionList: [],
      curindex: 0,
      children: [],
    });
    state.id = route.params.id;

    // 获取评论数据
    const getPingList = () => {
      const { id, pageNum, pageSize } = state;
      training
        .pinglun({
          id,
          pageNum,
          pageSize,
        })
        .then((res) => {
          if (res.code === 200) {
            state.pingList = res.rows;
            state.total = res.total;
            state.loading = false;
          }
        });
    };
    // 实训问答数据
    const question = () => {
      const { id, pageNum2, pageSize2 } = state;
      training
        .question({
          id,
          pageNum2,
          pageSize2,
        })
        .then((res) => {
          if (res.code === 200) {
            state.total2 = res.total;
            state.questionList = res.rows;
          }
        });
    };
    //
    const getselectBriefTree = () => {
      console.log("enennene", "-----------");
      training.tabs().then((res) => {
        if (res.code == 200) {
          console.log(res);
          state.tabsList2 = res.data;
          state.children = res.data[state.curindex].children;
        }
      });
    };

    // 方法
    const methods = {
      // 实训大纲tab
      handleCurindex: (i) => {
        state.curindex = i;
        state.children = state.tabsList2[i].children;
      },
      // tab切换
      handleClick: (tab) => {
        if (tab.props.label == "实训问答（）") {
          question();
        }
      },

      // 点击分页
      handleCurrentChange: (val) => {
        state.pageNum = val;
        getPingList();
      },

      // 点击发表评论
      chanageinp() {
        if (state.input != "") {
          console.log(state.input);
          console.log(state.id);
          training
            .comments({
              discussDesc: state.input,
              proId: state.id,
            })
            .then((res) => {
              if (res.code == "200") {
                ElMessage.success("发表评论成功", () => {
                  getPingList();
                });
              }
            });
        } else {
          ElMessage.error("你当前评论为空！");
        }
      },
    };

    // 初始化
    const init = () => {
      getPingList(); //评论数据
      getselectBriefTree();
    };
    init();

    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss" scoped></style>
