<template>
  <div>
    <div class="loading" v-if="loading">
      <img src="../../assets/img/loading.gif" alt="" />
    </div>
    <div class="viewplan" v-else>
      <breadcrumb :data="breadcrumb" />

      <div class="teacher_plan_view">
        <div class="plan_view_header">
          <div class="plan_view_header_top">
            <div class="plan_view_header_left">
              <div class="plan_view_header_t1">{{ groupList.className }}</div>
              <div class="plan_view_header_t2">{{ groupList.planname }}</div>
              <div class="plan_view_header_t3">
                {{ groupList.begintime }} ~ {{ groupList.endtime }}
              </div>
            </div>
            <div class="plan_view_header_right" v-show="see === 'true'">
              <el-select v-model="form.name" placeholder="请选择活动区域">
                <el-option
                  v-for="(item, index) in classPlan"
                  :key="index"
                  :label="item.planname"
                  :value="item.planname"
                  @click="handleSelect(item.classid, item.id)"
                ></el-option>
              </el-select>
            </div>
          </div>

          <div class="plan_view_class">
            <div class="plan_view_class_item">
              <span class="plan_view_class_item_t1 blue">{{
                groupList.countStus
              }}</span
              ><span class="plan_view_class_item_t2">总人数</span>
            </div>
            <div class="plan_view_class_item">
              <span class="plan_view_class_item_t1 oriange"
                >{{ groupList.progress }}%</span
              ><span class="plan_view_class_item_t2">完成率</span>
            </div>
            <div class="plan_view_class_item">
              <span class="plan_view_class_item_t1 green">{{
                groupList.countCompleted
              }}</span
              ><span class="plan_view_class_item_t2">按期完成人数</span>
            </div>
            <div class="plan_view_class_item">
              <span class="plan_view_class_item_t1 red">{{
                groupList.countUncompleted
              }}</span
              ><span class="plan_view_class_item_t2">延期未完成人数</span>
            </div>
          </div>
        </div>
      </div>

      <div class="plan_view_wrap">
        <!-- 内容 -->
        <!-- <div class="plan_box"> -->
        <ul class="plan">
          <li v-for="(item, index) in groupList.list" :key="index">
            <div class="plan_top">
              <h4>
                <span>{{ item.groupname }}</span>
              </h4>
            </div>
            <!-- 进度条 -->
            <div class="plan_progres">
              <p>
                <el-button type="text"
                  >已完成{{ item.groupProgress }}%</el-button
                >
              </p>
              <el-progress
                :percentage="item.groupProgress"
                :color="customColors"
                :show-text="false"
              />
            </div>

            <!-- 展开 -->
            <div class="plan_detail">
              <p>
                <span>
                  <img
                    src="http://111.203.59.61:8060/static/img/person.358ba865.svg"
                    alt=""
                  />
                  人员
                  {{ item.members }}</span
                >
                <span>
                  <img
                    src="http://111.203.59.61:8060/static/img/complete.ac9f6b54.svg"
                    alt=""
                  />
                  按期完成
                  {{ item.finished }}</span
                >
                <span>
                  <img
                    src="http://111.203.59.61:8060/static/img/nocomplete.3f20402c.svg"
                    alt=""
                  />
                  延期未完成
                  {{ item.unfinished }}</span
                >
              </p>
              <p>
                <i @click="handleFlag(index)">{{
                  item.flag ? "收起" : "展开"
                }}</i>
                <i
                  :class="
                    item.flag
                      ? 'rotate el-icon-arrow-down'
                      : 'rotate2 el-icon-arrow-down'
                  "
                ></i>
              </p>
            </div>
            <div class="plan_detail_box" v-show="item.flag">
              <!-- 表格 -->
              <el-table :data="item.stuList" border show-summary>
                <el-table-column prop="username" label="姓名">
                </el-table-column>
              </el-table>
            </div>
          </li>
        </ul>
        <!-- </div> -->

        <div class="t_box_right">
          <div class="right_box">
            <div class="right_top">
              <i class="icon"></i>
              <span>班级排行榜</span>
            </div>
            <ul class="right_content">
              <li
                class="plan_view_ranking_list_item"
                v-for="(item, index) in rankingList"
                :key="index"
              >
                <div class="plan_view_ranking_list_item_head">
                  <img :src="item.studentUrl" alt="" />
                  <div
                    v-if="index === 0"
                    class="plan_view_ranking_list_item_head_tag"
                    style="background: rgb(227, 73, 73)"
                  >
                    TOP.1
                  </div>
                  <div
                    v-else-if="index === 1"
                    class="plan_view_ranking_list_item_head_tag"
                    style="background: rgb(250, 195, 23)"
                  >
                    TOP.2
                  </div>
                  <div
                    v-else-if="index === 2"
                    class="plan_view_ranking_list_item_head_tag"
                    style="background: rgb(103, 156, 246)"
                  >
                    TOP.3
                  </div>
                  <div
                    v-else
                    class="plan_view_ranking_list_item_head_tag_difent"
                  >
                    {{ index + 1 }}
                  </div>
                </div>

                <div class="plan_view_ranking_list_item_info">
                  <div class="plan_view_ranking_list_item_name">
                    {{ item.username }}
                  </div>
                  <div class="plan_view_ranking_list_item_group">
                    {{ item.groupname }}
                  </div>
                </div>

                <div class="plan_view_ranking_list_item_task">
                  <div
                    class="
                      plan_view_ranking_list_item_task_num
                      plan_view_ranking_list_item_task_num_d
                    "
                  >
                    {{ item.taskCompletedpProgress * 100 }}%
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 图表 -->
      <div class="wrapper">
        <Chart :options="option" class="chart" />
      </div>
    </div>
  </div>
</template>

<script>
import { useRoute } from "vue-router";
import { reactive, toRefs, onMounted } from "vue";
import Chart from "@/components/Chart.vue";
import api from "@/api";
export default {
  components: {
    Chart,
  },
  setup() {
    const { training } = api;
    const route = useRoute();
    const state = reactive({
      breadcrumb: [
        { path: "/", name: "实训" },
        { path: "/teachers/viewPlan", name: "进度" },
      ],
      option: {
        legend: {
          data: ["完成率"],
        },
        xAxis: {
          data: [],
        },
        yAxis: {
          type: "value",
        },
        series: [
          {
            type: "bar",
            data: [],
          },
        ],
      },
      form: {
        name: "",
      },
      // 下拉框
      classPlan: [],
      // 排行榜
      rankingList: [],
      // 班级小组
      groupList: {},
      flag: false,
      loading: true,
      see: "true",
      // 图表
    });
    // 下拉框
    const selectClassPlan = async () => {
      let res = await training.selectClassPlan();
      if (res.code === 200) {
        state.classPlan = res.data;
      }
    };
    // 排行榜
    const classRank = async (classid, id) => {
      let res = await training.classRank({ classid, classPlanid: id });
      if (res.code === 200) {
        console.log(res.data);
        state.rankingList = res.data;
        let arr = [];
        res.data.forEach((item) => {
          arr.push(item.username);
          state.option.series[0].data.push(item.taskCompletedpProgress * 100);
        });
        state.option.xAxis.data = arr;
      }
      console.log(state.option.xAxis.data);
    };
    // 班级
    const selectClassPlanInit = async (classid, id) => {
      let res =
        state.see === "true"
          ? await training.selectClassPlanInit({
              classid,
              classPlanid: id,
            })
          : await training.selectClassPlanInitAll({
              classid,
              classPlanid: id,
            });
      if (res.code === 200) {
        res.data.list.forEach((item) => {
          item.flag = false;
        });
        state.groupList = res.data;
        state.form.name = res.data.planname;
        state.loading = false;
      }
    };

    const methods = {
      // 切换下拉框
      handleSelect: (classid, id) => {
        console.log(classid, id);
        classRank(classid, id);
        selectClassPlanInit(classid, id);
      },
      // 展开
      handleFlag: (i) => {
        state.groupList.list[i].flag = !state.groupList.list[i].flag;
      },
    };

    const init = () => {
      state.see = route.query.see ? route.query.see : "true";
      console.log(state.see);
      let { classid, id } = route.query;
      classRank(classid, id);
      selectClassPlanInit(classid, id);
      selectClassPlan();
    };

    onMounted(() => {
      init();
    });

    return {
      ...toRefs(state),
      ...methods,
    };
  },
};
</script>

<style lang="scss" scoped>
.viewplan {
  width: 100%;

  .wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px 0;
    box-sizing: border-box;
    background: #fff;
  }

  .teacher_plan_view {
    width: 1200px;
    margin: 0 auto;
    padding: 0 10px 0;
    box-sizing: border-box;

    .plan_view_header {
      width: 100%;
      padding: 35px 20px 20px;
      background: #fff;
      position: relative;
      z-index: 10;
      box-sizing: border-box;
      border-radius: 2px;

      .plan_view_header_top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .plan_view_header_left {
          .plan_view_header_t1 {
            height: 18px;
            font-size: 18px;
            font-weight: 500;
            color: #303849;
            line-height: 18px;
          }
          .plan_view_header_t2 {
            height: 22px;
            font-size: 22px;
            font-weight: 400;
            color: #303849;
            line-height: 22px;
            margin-top: 18px;
          }
          .plan_view_header_t3 {
            height: 12px;
            font-size: 12px;
            font-weight: 400;
            color: #80879b;
            line-height: 12px;
            margin-top: 14px;
          }
        }
      }
    }

    .plan_view_class {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 22px;

      .plan_view_class_item {
        width: 25%;
        height: 110px;
        background: rgba(103, 156, 246, 0.05);
        border-radius: 4px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .plan_view_class_item_t1 {
          height: 36px;
          font-size: 36px;
          font-weight: 500;
          line-height: 36px;
        }

        .blue {
          color: #679cf6;
        }

        .oriange {
          color: #ff8d41;
        }

        .green {
          color: #3bc9a9;
        }

        .red {
          color: #fc3535;
        }

        .plan_view_class_item_t2 {
          height: 14px;
          font-size: 14px;
          font-weight: 400;
          color: #80879b;
          line-height: 14px;
          margin-top: 10px;
        }
      }
    }
  }

  .plan_view_wrap {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    box-sizing: border-box;
    margin-top: 20px;
    display: flex;
    padding: 0 10px 0;
    box-sizing: border-box;
  }

  .plan {
    flex: 1;
    border-radius: 2px;
    width: 840px;
    font-size: 12px;
    color: #80879b;

    li {
      width: 100%;
      background: #fff;
      border-radius: 2px;
      padding: 20px;
      box-sizing: border-box;
      margin-bottom: 20px;

      .plan_top {
        h4 {
          display: flex;
          justify-content: space-between;
          font-size: 14px;
          color: #000;
        }
      }

      .plan_progres {
        p {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          button {
            font-size: 16px;
            color: #ff8d41;
          }
        }
      }

      .plan_detail {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        p {
          display: flex;

          span {
            display: flex;
            margin-right: 40px;
          }

          i {
            font-style: normal;
            display: flex;
            align-items: center;
          }
        }

        .rotate {
          transform: rotate(-180deg);
          transition: all 0.8s;
        }

        .rotate2 {
          transition: all 0.8s;
        }

        .plan_detail_box {
          margin: 20px 0;
        }

        .detail_box_content {
          border: 1px solid #e7e9ed;
          // padding: 20px;

          .detail_top {
            padding: 20px;
            background: rgba(178, 183, 198, 0.1);
            h4 {
              font-size: 16px;
              font-weight: 550;
              color: #303849;
            }
            p {
              display: flex;
              justify-content: flex-start;
              font-size: 12px;
            }
          }

          .detail_content {
            padding: 20px;
            p {
              display: flex;
              justify-content: flex-start;
              font-size: 12px;
              margin: 10px 0;

              span {
                display: flex;
                align-items: center;
                margin-right: 20px;
              }
            }
          }
        }
      }
    }
    .el-table--fit {
      border-left: none;
      border-right: none;
      height: auto;
      text-align: left;

      .el-table th,
      .el-table td {
        text-align: left;
      }
    }
  }

  .t_box_right {
    width: 320px;
    box-sizing: border-box;
    margin-bottom: 20px;

    .right_box {
      border-radius: 2px;
      background: #fff;
      margin-left: 20px;
      padding: 20px;
    }

    .right_top {
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 10px;
      .icon {
        display: inline-block;
        width: 3px;
        height: 18px;
        background: #679cf6;
        margin-right: 10px;
      }
      span {
        font-size: 18px;
        font-weight: 550;
        color: #303849;
      }
    }

    .right_content {
      margin-top: 14px;
      li {
        height: 70px;
        background: rgba(178, 183, 198, 0.05);
        border-radius: 4px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        box-sizing: border-box;
        position: relative;

        .plan_view_ranking_list_item_head {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background: #ccc;
          margin-right: 12px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            border-radius: 50%;
          }

          .plan_view_ranking_list_item_head_tag {
            position: absolute;
            width: 36px;
            height: 20px;
            background: #fac317;
            border-radius: 4px 0px 15px 0px;
            top: 0px;
            left: 0px;
            color: #ffffff;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
          }

          .plan_view_ranking_list_item_head_tag_difent {
            position: absolute;
            width: 21px;
            height: 20px;
            background: rgba(178, 183, 198, 0.3);
            border-radius: 4px 0px 15px 0px;
            top: 0px;
            left: 0px;
            color: #6b6b80;
            font-size: 12px;
            text-align: center;
            line-height: 20px;
          }
        }

        .plan_view_ranking_list_item_info {
          margin-right: 5px;

          .plan_view_ranking_list_item_name {
            height: 14px;
            font-size: 14px;
            font-weight: 400;
            color: #303849;
            line-height: 14px;
            margin-bottom: 15px;
          }

          .plan_view_ranking_list_item_task_num_a {
            font-size: 16px;
            font-weight: 550;
            color: #3bc9a9;
          }

          .plan_view_ranking_list_item_group {
            height: 12px;
            font-size: 12px;
            font-weight: 400;
            color: #80879b;
            line-height: 12px;
          }
        }

        .plan_view_ranking_list_item_task {
          flex: 1;
          width: 100%;

          .plan_view_ranking_list_item_task_num {
            height: 16px;
            font-size: 16px;
            font-weight: 500;
            line-height: 16px;
            text-align: right;
            margin-bottom: 12px;
          }

          .plan_view_ranking_list_item_task_num_d {
            font-size: 16px;
            font-weight: 550;
            color: #ff8d41;
          }
        }

        p {
          display: flex;

          span {
            font-size: 12px;
            font-weight: 400;
            color: #80879b;
            margin-right: 20px;
            i {
              font-size: 16px;
            }
          }
        }
      }
      // li:hover {
      //   border-left: 3px solid #679cf6;
      //   background: #f0f5fe;
      // }
    }
  }
}

.wrapper {
  width: 100%;
  height: 300px;

  .chart {
    width: 100%;
    height: 100%;
  }
}
</style>
